.editor_form_page_main {
  overflow: hidden;
}

.form_page_editor {
  padding: 3% 0px;
}
.formbuilder-wrapper-container{
  height: 100%;
}
.formbuilder-wrapper-container .formcomponents{
    background-color: #001F63;
    border-radius: 10px;
}
.formbuilder-wrapper-container .form-builder-panel{
  background-color: #001F63;
}
.formbuilder-wrapper-container .builder-group-button{
  color: #fff;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.formbuilder-wrapper-container .builder-sidebar .btn {
  white-space: normal;
  background-color: #001F63;
  border: none;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
.formbuilder-wrapper-container .builder-sidebar_search{
  display: none;
}
.formbuilder-wrapper-container .formio-form{
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 10px;
}
.formbuilder-wrapper-container #group-container-basic{
  margin-left: 8px;
}

.editor-drawer-content div{
  padding: 10px 15px;
}
.editor-drawer-content .icon_bg_clr{
  background-color: #EFF1F2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  border-radius: 6px;
}

.editor-drawer-content .tool-label{
   font-family: 'Poppins';
font-style: normal;
   border: none !important;
  cursor: pointer;
  font-weight: normal;
font-size: 13px;
align-items: center;
text-align: center;
color: #4F5357;
}
.editor-drawer-content .react-form-builder .react-form-builder-toolbar ul li i {
  margin: 0 5px 0 5px;
}
