.theme_select_editor {
  padding: 3%;
}

.select_theam_editr_header .app {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #0069e7;
  letter-spacing: 0.5px;
}

.select_theam_editr_header img {
  width: 70px;
  height: 70px;
}

.select_theam_editr_header .header-text {
  display: flex;

  align-content: center;
}

.prl {
  padding: 2% 5%;
}

.select_theam_editr_header .app_name {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  text-transform: capitalize;
  color: #000000;
  letter-spacing: 0.5px;
}

.card_img_top_editor .active_card {
  border: 0.1px solid #00802b;
  border-radius: 5px;
  padding: 3px 10px;
  font-style: normal;
  line-height: 16px;
  color: #00802b;
}

.cardrow .card_img_top_editor .btn_div {
  /* display: none; */
  /* display: block; */
  opacity: 0;
}

.cardrow .card_img_top_editor:hover .btn_div {
  transition: 3s inline;
  display: block;
  opacity: 1;
}

.cardrow .card_img_top_editor:hover {
  border: 1.8px solid #723dfb;
  box-sizing: border-box;
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
}

.cardrow .select_theam_header {
  padding: 20px;
}

.card_img_top_editor {
  position: relative;
}

.radio-div {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

.cardrow .card_img_top_editor:hover .radio-div {
  display: block;
}

.cardrow .card_img_top_editor .select_div .red .ant-radio-inner {
  background-color: rgb(240, 132, 132);
}

.cardrow .card_img_top_editor .select_div .blue .ant-radio-inner {
  background-color: rgb(122, 122, 248);
}

.cardrow .card_img_top_editor .select_div .yellow .ant-radio-inner {
  background-color: rgb(226, 226, 126);
}

.cardrow .card_img_top_editor .select_div .green .ant-radio-inner {
  background-color: rgb(132, 214, 132);
}

.card_img_top_editor .text-btn-div {
  display: flex;
  justify-content: space-between;
}
