.desc .ant-descriptions-header {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.d-flex {
  display: flex;
}

.text-container {
  position: absolute;
  right: 0;
  margin-right: 0px;
  margin-top: 5px;
  text-align: center;
}

.title-text {
  color: #263238;
  font-size: 28px;
  font-weight: 600;
  margin-top: 5px;
}
.app-logo {
  height: 90px;
  width: 100px;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
.info-text {
  margin-top: 10px;
  font-size: 18px;
}

.tile1-info {
  padding-left: 10px;
  line-height: 20px;
  margin: 6% 0;
}

.title1-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
}

.title1-subtitle {
  font-weight: normal;
  font-size: 11px;
  color: #8c8c8c;
}

.module {
  font-size: 13px;
  color: #595959;
  margin-top: 12px;
  font-weight: 400;
}

.tile2-title {
  font-weight: normal;
  font-size: 12px;
  color: #777777;
}

.title2-subtitle {
  font-weight: normal;
  font-size: 14px;
  color: #333333;
  padding-left: 5px;
  font-family: Poppins;
}

.tile2-info {
  line-height: 20px;
  margin: 8% 0;
}

.btn-blue {
  margin: auto;
}
.btn-blue .ant-btn > span {
  font-weight: normal;
  font-size: 11px;
  line-height: 100%;
  color: #0069e7;
}

.btn-blue .ant-btn-round.ant-btn-sm {
  height: 21px;
  padding: 0px 10px;
  font-size: 10px;
  border: 1px solid #0069e7;
  box-sizing: border-box;
  border-radius: 4px;
}
.ext-btn {
  font-size: 11px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0069e7;
  border: 1px solid #0069e7;
  border-radius: 7px;
}
.ext-btn.ant-btn {
  font-weight: 400;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  height: 25px;
  padding: 10px 20px;
  width: 110px;
  margin: 5px;
}
/* .progressBar .progressBarIcon {
  display         : inline-block;
  background-color: rgba(55, 67, 93, 1);
  opacity         : 0.2;
  width           : calc(18% - 1px);
  height          : 7px;
  margin-right    : 3px;
}

.progressBar .progressBarIcon.active {
  opacity: 1;
}

.progressBar .progressBarIcon:last-child {
  margin-right: 0px;
} */

.progress {
  height: 8px;
  width: 80%;
  border-radius: 0;
  /* border:2px solid #000; */
  text-align: center;
  /* color:#fff; */
  font-size: 2px;
  background: linear-gradient(to right, #0069e7 40%, #f80c6f 40%, #f80c6f 80%, #757986 0);
}
.tile3-info {
  line-height: 20px;
  margin: 2% 0;
}
.tile3 .temp-img {
  width: 50px;
  height: 50px;
}
.tile3 .top-align {
  margin-top: -10px;
}
.tile3-title {
  font-family: Poppins;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  color: #777777;
}

.tile3-subtitle {
  font-weight: normal;
  font-size: 14px;
  color: #333333;
  margin: 6% auto;
  padding-left: 5px;
  font-family: Poppins;
}

.vertical {
  border: 0;
  margin: 0 15px;
  border-right: 1px solid #bfbfbf;
  height: 90px;
}

.tile1 img {
  width: 85%;
}
.tile4 {
  justify-content: end;
  /* margin : auto; */
  margin-top: 10%;
}
.tile5 {
  justify-content: end;
  /* margin : auto; */
  margin-top: 5%;
}
@media (max-width: 980px) {
  .vertical {
    border: 0;
    margin: 0 15px;
    border-right: none;
    height: 100px;
  }
  .grid-list-btn {
    margin-top: 10px;
  }
}

@media (max-width: 850px) {
  .tile1 img {
    width: 100%;
  }

  .vertical {
    border: 0;
    margin: 0 15px;
    border-right: none;
    height: 100px;
  }

  .tile3-subtitle {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .tile1 img {
    width: 100%;
  }

  .vertical {
    border: 0;
    margin: 0 15px;
    border-right: none;
    height: 100px;
  }
  .grid-list-btn {
    margin-top: 10px;
  }
  .tile4 .btn-blue {
    justify-content: center;
    /* margin: auto; */
    margin-top: 5%;
  }
}

@media (max-width: 550px) {
  .tile1 {
    margin: 50px;
  }

  .tile1 img {
    width: 90px;
  }
  .tile3 img {
    width: 100%;
  }

  .vertical {
    border: 0;
    margin: 0 15px;
    border-right: none;
    height: 100px;
  }
  .grid-list-btn {
    margin-top: 10px;
  }
  .tile4 .btn-blue {
    justify-content: center;
    /* margin: auto; */
    margin-top: 5%;
  }
}

.tile1 img {
  width: 90px;
  width: 90px;
  border-radius: 8px;
}
