/* .Button_small, .Button_small_round, .Button_small_outline, .Button_small_round_outline {
    width: auto;
}

.Button_medium, .Button_medium_round, .Button_medium_outline, .Button_medium_round_outline {
    padding: 8px 60px!important;
    display: inline-block!important;
    font-size: 12px!important;
    height:auto!important;

}

.Button_large, .Button_large_round, .Button_large_outline, .Button_large_round_outline {
    padding: 8px 100px!important;
    display: inline-block!important;
    font-size: 14px!important;
    height:auto!important;
}  */
