@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500&display=swap');


.d-flex {
  display: flex;
}

.text-center {
  justify-content: center;
}

.create_module_popup .module_check_box {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  color: #595959;
}

.create_module_popup .ant-form-item-label>label,
.create_page_popup .ant-form-item-label>label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  color: #595959;
}


.create_module_popup .ant-modal-header,
.create_page_popup .ant-modal-header {
  padding: 16px 24px;
  color: rgba(0, 0, 0, 0.85);
  background: #fff;
  border-bottom: none !important;
  border-radius: 2px 2px 0 0;
}

.create_module_popup .ant-modal-footer {
  padding: 10px 16px;
  text-align: right;
  background: transparent;
  border-top: none !important;
  border-radius: 0 0 2px 2px;
}

.create_module_popup .ant-modal-content,
.create_page_popup .ant-modal-content {
  /* width: 400px !important; */
  border-radius: 10px;
  margin: auto;
  padding: 24px;
}

.create_module_popup .ant-checkbox span,
.create_page_popup.ant-checkbox span {
  /* padding-right: 8px; */
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #595959;
}

.create_module_popup h4.ant-typography,
.ant-typography h4,
.create_page_popup h4.ant-typography,
.ant-typography h4 {
  justify-content: center;
  display: flex;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
  /* identical to box height, or 117% */

  text-align: center;

  color: #000000;
}

/* .ant-form-item-control-input-content{
  text-align: center;
} */
.create_page_popup h4.ant-typography,
.ant-typography h4 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin: 15px 0 25px 0;
}

.create_page_popup .btn_div {
  display: flex;
  justify-content: center;
}

.create_module_popup .btn_div {
  display: flex;
  justify-content: center;
}

.create_page_popup .submit_btn,
.create_module_popup .submit_btn {
  font-family: 'Roboto';
  border-radius: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  height: auto;
  padding: 0px 20px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #0069e7;
}

.create_page_popup .cancel_btn,
.create_module_popup .cancel_btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  height: auto;
  padding: 8px 10px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  margin-right: 30px;
  color: #0069e7;
}

/* ********* Filer box ************* */

.filter_popup_box .ant-input {
  height: 30px;
  margin-bottom: 20px;
}

.filter_popup_box .ant-modal-content {
  width: 230px !important;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
}

.filter_popup_box .ant-form-item {
  margin-bottom: 0px;
}

.filter_popup_box .footer_button_div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.filter_popup_box .ant-checkbox+span {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #595959;
}

.filter_popup_box .footer_button_div .ant-btn-primary {
  border-radius: 8px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #0069e7;
}

.filter_popup_box .footer_button_div .ant-btn-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #0069e7;
}

.filter_popup_box .filter-row {
  /* border-bottom  : 0.8px  solid #BFBFBF; */
  border-radius: 2px;
  margin-bottom: 2px;
  box-shadow: 0px 1px 2px #bfbfbf;
  /* border-left: 0.1px solid #BFBFBF;
  border-right: 0.1px solid #BFBFBF; */
  /* line-height:18px; */
}

/* ***************************** */

.action_popup .ant-btn {
  text-align: center;
  padding: 10;
}

.action_box {
  width: 150px;
  border-radius: 20px;
}

.action_box .ant-divider-horizontal,
.edit_popup_box .ant-divider-horizontal,
.save_popup_box .ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 5px 0;
}

/* ****************** Confirm box *********************** */
.delete_popup .ant-modal-content {
  width: 600px !important;
  border-radius: 5px;
  margin: auto;
}

.Delete_popup_box h3.ant-typography,
.ant-typography h3,
.ant-typography h4 {
  justify-content: center;
  display: flex;
}

.confirm_box .icon {
  font-size: 30px;
  color: #ffd000;
}

.confirm_box .heading {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.confirm_box .description p {
  color: #595959;
  text-align: center;
  padding: 0 10px 0;
  margin: 0;
}

.confirm_box .buttons_div {
  padding: 20px 0;
}

.confirm_box .ant-btn {
  margin: 0 10px;
  padding: 0px 20px;
  border-radius: 5px;
}

/* ************************** */
.Delete_popup_box {
  padding: 60px 30px;
  /* display: flex;
  flex-wrap: wrap; 
  align-content: space-between; */
}

.Delete_popup_box .icon {
  font-size: 30px;
  /* color: #E00035; */
  padding-bottom: 20px;
}

.Delete_popup_box h3.ant-typography,
.ant-typography h3 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;
  color: #000000;
  text-align: center;
}

.Delete_popup_box .description {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #595959;
  margin: 20px;
}

/* .Delete_popup_box .buttons_div {
  padding-top: 20px
} */

.Delete_popup_box .buttons_div .ant-btn {
  margin-right: 15px;
  border-radius: 8px;
}

.Delete_popup_box .buttons_div .ant-btn-primary {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  height: auto;
  padding: 8px 26px;
  background-color: #0069e7;
}

.Delete_popup_box .buttons_div .ant-btn-danger {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  height: auto;
  background-color: #e00035;
  padding: 8px 26px;
}

/* ********** cancel page ********** */
.cancel_popup .buttons_div .ant-btn-primary {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  height: auto;
  padding: 8px 26px;
  background-color: #0069e7;
}

.cancel_popup .buttons_div .ant-btn-danger {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  height: auto;
  background-color: #e00035;
  padding: 8px 26px;
}

.text_align_center {
  text-align: center;
}