.mb-10{ 
  margin-bottom: 10px;
}
.user_count_div {
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 15px;
}

.icon_user {
  background: transparent;
  width: 40px;
  display: flex;
  align-items: center;
  height: 55px;
  background-repeat: no-repeat;
  position: relative;
}

.icon_user:before {
  content: '';
  background-image: url('../../assets/images/icons/user.png');
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;

}

.user_icon {
  width: fit-content;

  border-radius: 50%;
  padding: 0px 5px;
  margin-right: 10px;
  height: 50px;
  width: 50px
}

.bg-green-circle{
  background-color: #87BB6F;
}
.bg-orange-circle{
  background-color: #FA9D69;
}
.bg-red-circle{
  background-color: #FA6969;
}
.bg-purple-circle{
  background-color: #B688AC;
}
.bg-blue-circle{
  background-color: #69B4FA;
}

.user_count_div {
  display: flex;
}

.user_cont_text {
  display: inline-grid;
}

.user_cont_text .count {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

.user_cont_text .text {
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  color: #000000;
}


.user_count {
  flex-basis: 20%;
  width: 20%;
}

@media (max-width: 1450) {
  .user_count {
    flex-basis: 15%;
    width: 15%;
  }
}

@media (max-width: 1382) {
  .user_count {
    flex-basis: 25%;
    width: 25%;
  }
}

@media (max-width: 1200px) {
  .user_count {
    flex-basis: 25%;
    width: 25%;
  }
}

@media (max-width: 992px) {
  .user_count {
    flex-basis: 33.33%;
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .user_count {
    flex-basis: 50%;
    width: 50%;
  }
}

@media (max-width: 576px) {
  .user_count {
    flex-basis: 100%;
    width: 100%;
  }
}

/* *********** Admin User Card ************* */

.user_card {
  width: auto;
  height: auto;
}

.user_card .card {
  width: auto;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 15px 15px 0 0;
  position: relative;
  padding: 20px;
}

.user_card .user_img_div {
  position: absolute;
  left: 25px;
  transform: translateY(-65%);
}

.user_card .user_img_div img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.user_card .user_card_text {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.user_card .user_card_text .user_title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

.user_card .user_card_text .user_sub_title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8C8C8C;

}

 

.user_card .icon_modules {
  margin: 0;
}

.user_card .icon_page {
  margin: 0;
}

.user_card .icon_comment {
  margin: 0;
}

.user_card .sub_footer {
  display: flex;
  justify-content: space-between;
}

.user_card .footer_box {
  display: flex;
  padding: 10px;
}

.user_card .ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 10px 0;
}

.user_card .footer_text {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #595959;
  margin-left: 7px;
  /* display: flex;
  align-items: center; */
}

.user_card .note {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  padding: 13px 10px;
  color: #595959;
  background: #F9F9F9;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 5%);
}

.user_card .note .bolder {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}