.green {
  color: #00802b;
}

.inprogress {
  color: #d2b555;
  background-color: rgb(247, 247, 247);
  padding: 3px 12px;
}

.closed {
  color: #d36865;
  background-color: rgb(247, 247, 247);
  padding: 5px 15px;
}

.approved {
  color: #21b252;
  background-color: rgb(247, 247, 247);
  padding: 5px 15px;
}

.p-tag {
  margin-bottom: 0;
}

.d-flex {
  display: flex;
}

.text-center {
  justify-content: center;
}

/* ************ Card Antd *********** */

.box-card {
  display: flex;
  justify-content: space-between;
}

.RecentActivityGridView .Maincard {
  position: relative;
}

.RecentActivityGridView .cardImgDiv {
  position: absolute;
  transform: translateY(-85%);
}

.RecentActivityGridView .cardTextDiv {
  margin-top: 20px;
}

.RecentActivityGridView .subTitle {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  color: rgb(165, 165, 165);
}

.RecentActivityGridView .comments {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  color: rgb(211, 211, 211);
}

.RecentActivityGridView .footerDiv {
  display: flex;
  justify-content: space-around;
}

/* ********************.RecentActivityGridView********************** */

.RecentActivityGridView .card {
  width: 300px;
  height: Auto;
  padding: 10px 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  margin-bottom: 30px;
}

.RecentActivityGridView .card_body {
  position: relative;
}

.RecentActivityGridView .card_img {
  position: absolute;
  transform: translate(0%, -110%);
}

.RecentActivityGridView .card_text {
  margin-top: 30px;
}

.RecentActivityGridView .sub_title {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  color: rgb(165, 165, 165);
}

.RecentActivityGridView .comments {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  color: rgb(211, 211, 211);
}

.RecentActivityGridView .card_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.RecentActivityGridView .card_footer .footer_date {
  font-weight: normal;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #595959;
}
.RecentActivityGridView .comment_desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  height: 100px;
}

.RecentActivityGridView .ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 15px 0;
}

/* ******************** AppsGridView ******************** */

.AppsGridView .card {
  width: auto;
  background-color: #ffffff;
  height: Auto;
  margin: 20px 0;
  padding: 10px 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  /* border: solid rgb(223, 223, 223) 1px; */
}

.mar-ad {
  margin-top: -25px;
}

.AppsGridView .card_body {
  position: relative;
}

.AppsGridView .card_img img{
 border-radius: 8px;
}
.AppsGridView .card_img {
  position: absolute;
  transform: translateY(-75%);
  /* transform: translateY(-115%); */
}

.AppsGridView .card_img .set {
  height: 70px;
  width: 70px;
}

.AppsGridView .card_text {
  margin-top: 30px;
}

.card_text h3 {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  color: #000000;
}

.AppsGridView .sub_title {
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8c8c8c;
}

.AppsGridView .comments {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  color: rgb(211, 211, 211);
}

.AppsGridView .card_footer {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
}

.AppsGridView .card_footer .modules {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  opacity: 2;
  color: #595959;
  cursor: pointer;
}

.card_footer .modules:focus,
.card_footer .modules:hover {
  color: #595959;
  opacity: 3;
}

.AppsGridView .card_footer .page {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  opacity: 2;
  color: #595959;
  cursor: pointer;
}

.AppsGridView .card_footer .page:focus,
.AppsGridView .card_footer .page:hover {
  color: #595959;
  opacity: 3;
}

.AppsGridView .card_footer .comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  opacity: 2;
  color: #595959;
  cursor: pointer;
  /* margin: 0px 15px; */
}

.AppsGridView .card_footer .comment:focus,
.AppsGridView .card_footer .comment:hover {
  color: #595959;
  opacity: 3;
}

.AppsGridView .stetus_box {
  display: flex;
  /* width: max-content; */
  align-items: center;
  justify-content: space-between !important;
}

.AppsGridView .ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 20px 0;
}

/* *****************  BlocksGridView ******************** */

.BlocksGridView .card {
  width: auto;
  height: Auto;
  margin: 20px 0;
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.BlocksGridView .card_body {
  position: relative;
}

.BlocksGridView .card_img {
  position: absolute;
  /* transform: translate(0%, -118%); */
  transform: translate(0%, -75%);
}
.BlocksGridView .card_img img{
  border-radius: 8px;
}
.BlocksGridView.card_img.set {
  height: 70px;
  width: 70px;
}

.BlocksGridView .card_text {
  margin-top: 30px;
}
.BlocksGridView.card_text h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  color: #000000;
}

.BlocksGridView .sub_title {
  display: flex;
  font-size: 12px;
  line-height: 25px;
  justify-content: space-between;
  color: rgb(165, 165, 165);
}
.BlocksGridView .card_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.BlocksGridView .comments {
  display: flex;
  font-weight: normal;
  font-size: 13px;
  cursor: pointer;
  line-height: 16px;
  color: #595959;
}
.BlocksGridView .lock {
  display: flex;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  color: #595959;
}

.BlocksGridView .status_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}
.BlocksGridView.approved {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #21b252;
  background: rgba(0, 128, 43, 0.05);
  border-radius: 6px;
}

.BlocksGridView .ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 20px 0;
}

/* ******************** RecentAppsBox ********************* */

.RecentAppsBox {
  font-family: 'Poppins';
  font-style: normal;
  height: auto;
  width: auto;
}

.RecentAppsList .ant-list-item-meta-title .list_title {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-transform: capitalize;
  color: #313136;
}

.RecentAppsBox .app_box {
  width: auto;
  background-color: #fff;
  height: 100%;
  padding: 20px;
  /* margin: 3%;; */
  border-radius: 10px;
  /* border: solid rgb(223, 223, 223) 1px; */
}

.app_box_text h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 100%;
  text-transform: capitalize;
  color: #27272b;
}

.RecentAppsBox .img_div {
  /* display: flex; */
  justify-content: center;
  background-color: #ffffff;
}

.RecentAppsBox .page-count {
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  text-transform: capitalize;
  color: #51525e;
}

.RecentAppsBox .date-desc {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #8c8d9c;
}

.RecentAppsBox .sub_title {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-transform: capitalize;
  color: #8f949d;
}
/* .RecentAppsBox .recent_apps_list
{
  margin: 5px 0;
  max-height: 400px;
} */

.recent_apps_list_item {
  padding: 10px;
  margin: 10px 0;
  background: #f7f6f4;
  border-radius: 6px;
}
.recent-apps-body {
  min-height: 520px;
}
.recent_apps_list_item p {
  font-size: 10px;
  color: rgb(165, 165, 165);
}

.recent_apps_list_item .card-title-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 120%;
  text-transform: capitalize;
  color: #313136;
  cursor:pointer;
}

.RecentAppsBox .option-dots {
  text-align: center;
  /* background-color: #ffffff; */
}

.RecentAppsBox .option-dots a {
  padding: 0 3px;
  color: #97948f;
  background-color: #ffffff;
}

.RecentAppsBox .button_div {
  /* display: flex;
  justify-content: center; */
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  color: #0069e7;
  margin-bottom: 0px;
}

.myRecentActivityList {
  font-family: 'Poppins';
  font-style: normal;
  background-color: transparent;
  height: auto;
  padding: 20px;
  width: auto;
}
.myRecentActivityList .activity_box {
  width: auto;
  background-color: transparent;
  height: 100%;
  /* margin: 3%;; */
  border-radius: 10px;
}
.myRecentActivityList.activity_box {
  width: auto;
  background-color: #fff;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
}
.myRecentActivityList .ant-list-item-meta-title .list_title {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-transform: capitalize;
  color: #313136;
}
/* .myRecentActivityList .recent_activity_list{
  height: 590px;
  margin-bottom: 0;
} */
/* border: solid rgb(223, 223, 223) 1px;*/

.myRecentActivityList .sub_title {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-transform: capitalize;
  color: #8f949d;
}
.recent_activity_list_item {
  border-left: 5px solid #7ba15d;
  background: #ffffff;
  border-radius: 6px;
  padding: 15px 5px;
  margin: 0 0 15px 0;
}
.activity_box_text h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 100%;
  text-transform: capitalize;
  color: #27272b;
}
.icon-circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    background: #eff8e8;
    margin: 0 8px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.icon-circle-light {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  background: #f6f7f9;
  margin: 0 8px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.myRecentActivityList .activity_status_pending {
  background: #ffffff;
  border-radius: 6px;
  font-size: 11px;
  border: 1px solid #a4c17e;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 5px;
  text-transform: uppercase;
  margin: 0 10px;
  color: #a4c17e;
}
.myRecentActivityList .activity_status_actionpending {
  background: #ffffff;
  border-radius: 6px;
  font-size: 11px;
  border: 1px solid #f47128;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 5px;
  text-transform: uppercase;
  margin: 0 10px;
  color: #f47128;
}
.myRecentActivityList .activity_status_inprogress {
  background: #ffffff;
  border-radius: 6px;
  font-size: 11px;
  border: 1px solid #3967de;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 5px;
  text-transform: uppercase;
  margin: 0 10px;
  color: #3967de;
}
.myRecentActivityList .activity_status_rejected {
  background: #ffffff;
  border-radius: 6px;
  font-size: 11px;
  border: 1px solid #ec2727;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 5px;
  text-transform: uppercase;
  margin: 0 10px;
  color: #ec2727;
}
.myRecentActivityList .date-desc {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #8c8d9c;
  margin-bottom: 0;
}
.recent_activity_list_item h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;

  color: #313136;
}
.recent_activity_list_file_item h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
  color: #313136;
}
.recent_activity_list_item p {
  margin: 0;
}
.recent_activity_list_file_item {
  border-left: 5px solid #50c0ff;
  background: #ffffff;
  border-radius: 6px;
  padding: 15px 5px;
  margin: 0 0 15px 0;
}
/* ****************count_box**************** */
.count_box {
  width: max-content;
  height: auto;
  background-color: #f1f7f8;
  padding: 10px 20px;
  border-radius: 7px;
}

.count_number,
.count_text {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **************  Elements setting ************ */
.ElementSetting .elementsettingbox {
  width: 300px;
  height: Auto;
  padding: 15px;
  border-radius: 10px;
  border: solid rgb(223, 223, 223) 1px;
}

.ElementSetting .elementsettingheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ************ AssetManagementAppCardDiv *************** */
.AssetManagementAppCard {
  /* clip-path: polygon(0 0, 18% 0, 30% 9%, 100% 10%, 100% 100%, 0 100%);
   */
  clip-path: polygon(0 0, 18% 0, 27% 7%, 100% 7%, 100% 100%, 0 100%);
  height: 100%;
  text-align: left;
  width: auto;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid rgb(255, 240, 240);
}
.AssetManagementAppCardDiv {
  min-height: 205px;
}
.AssetManagementAppCard .card_title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
.counter_box {
  display: flex;
  justify-content: space-evenly;
}
.AssetManagementAppCard .inprogress {
  background: rgba(210, 181, 85, 0.05);
  border-radius: 6px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #d2b555;
}

.AssetManagementAppCard .ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 10px 0;
}

.count_box {
  margin: 6px;
}

.AssetManagementAppCard .card_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AssetManagementAppCard .card-body {
  margin-top: 40px;
}
.AssetManagementAppCard .title {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #000000;
}

.AssetManagementAppCard .sub_title {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #8c8c8c;
  margin-bottom: 15px;
}

/* -******************* page_type_box ******************* */
.page_type_box {
  padding: 10px;
  box-shadow: 4px 8px 20px rgba(45, 59, 183, 0.25);
  border-radius: 6px;
  background-color: #f7f7fc;
}

.page_type_box .page_type_img_box_ {
  display: flex;
  justify-content: center;
}

.page_type_box p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #100629;
  opacity: 0.6;
  margin-top: 0.5em;
}

.large-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;

  color: #000000;
}

.small_txt {
  font-weight: normal;
  min-height: 75px;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #000000;
}

.addNewModuleCard {
  height: 350px;
}

.btn-create .ant-btn-primary {
  width: 161px;
  height: 40px;
  background: #0069e7;
  border-radius: 6px;
  margin: 20px 0;
}

.btn-txt {
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
}

.option-dots {
  font-size: 20px;
  color: #bfbfbf;
  /* margin-top: 0px; */
}

.option-dots a {
  color: #bfbfbf;
  text-decoration: none;
  background-color: transparent;
}

.option-dots .ant-dropdown-link {
  text-align: right !important;
  justify-content: right !important;
}

.option-dot-center {
  font-size: 20px;
  color: #bfbfbf;
  /* margin-top: -25px; */
}

.option-dots-center a {
  background-color: #ffffff;
}

/* .option-dots-center .ant-dropdown-link {
  text-align: right !important;
  justify-content: right !important;
} */

.icon_comment {
  display: block;
  background: transparent;
  width: 15px;
  height: 16px;
  margin: auto;
}
.icon_comment:before {
  content: '';
  background-image: url('../../assets/images/icons/comments.png');
  position: absolute;
  width: 16px;
  background-repeat: no-repeat;
  height: 16px;
}
.icon_modules {
  display: block;
  background: transparent;
  width: 15px;
  height: 16px;
  margin: auto;
}
.icon_modules:before {
  content: '';
  background-image: url('../../assets/images/icons/module.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 15px;
  height: 16px;
}
.icon_page {
  display: block;
  background: transparent;
  width: 15px;
  height: 16px;
  margin: auto;
}
.icon_page:before {
  content: '';
  background-image: url('../../assets/images/icons/page.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 15px;
  height: 16px;
}
.icon_lock {
  display: block;
  background: transparent;
  width: 15px;
  height: 16px;
  margin: auto;
}
.icon_lock:before {
  content: '';
  background-image: url('../../assets/images/icons/lock.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 15px;
  height: 16px;
}
.icon_page_blue {
  display: block;
  background: transparent;
  width: 18px;
  height: 21px;
  margin: auto;
}
.icon_page_blue:before {
  content: '';
  background-image: url('../../assets/images/icons/page_blue.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 18px;
  height: 21px;
}
.icon_file_green {
  display: block;
  background: transparent;
  width: 24px;
  height: 25px;
  margin: auto;
}
.icon_file_green:before {
  content: '';
  background-image: url('../../assets/images/icons/file_green.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 24px;
  height: 25px;
}
.btn-div-sticky {
  margin-bottom: 0;
  justify-content: center;
  /* position:absolute;  */
}
