.element-wrapper-container .ant-tabs-top > .ant-tabs-nav::before, 
.element-wrapper-container .ant-tabs-bottom > .ant-tabs-nav::before, 
.element-wrapper-container .ant-tabs-top > .ant-tabs-nav::before,
.element-wrapper-container .ant-tabs-bottom  > .ant-tabs-nav::before {
    /* position: absolute; */
    right: 0;
    left: 0;
    border-bottom: none;
    /* content: ''; */
}

.element-model .ant-modal-header{
    background: #E8F0F3!important;
}
.element-wrapper-container{
    text-align: center;
}
.element-model .ant-modal-footer {
   
    background: #E8F0F3!important;
    border-top: 1px solid #f0f0f0;
    
}
.element-model .ant-tabs-tab-active{
    border-radius: 5px;
    background-color: #0069E7;
    padding: 10px 15px;
    border-bottom: none;
    color: #fff;
}
.element-model .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
   
   border-bottom: none;
    
}

.element-model .ant-radio-wrapper  {
    color: #000;
}
.element-model .ant-tabs-tab-active .ant-radio-wrapper{
    color: #fff !important;
}
.element-model .footer-btn-apply{
    background: #0069E7;
border-radius: 4px;
font-weight: 500;
height: 40px;
font-size: 15px;
color: #fff;
padding: 5px 20px;
}
.element-model .footer-btn-cancle{
    justify-content: center;
    background: #FFFFFF;
    font-weight: 500;
    color: #404A4D;
    font-size: 15px;
    border: 1px solid #0069E7;
    padding: 5px 20px;
    height: 40px;
border-radius: 4px;
}
.element-model .header-btn-close{
    background: #0069E7;
box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
border-radius: 35px;
font-size: 14px;
padding: 5px 15px;
height: 40px;
color: #FFFFFF;
}
.element-model .ant-tabs-ink-bar {
    /* position: absolute; */
    background: transparent;
    /* pointer-events: none; */
}
.element-model .ant-radio-group {
    width: 100%;
}