.editor_form_page_main {
  overflow: hidden;
}

.form_page_editor {
  background-color: #e5e5e5;
  padding: 3% 0px;
}
.editor-drawer-content .col-md-12 {
  
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.editor-drawer-content div{
  padding: 15px;
}
.alertify-notifier.ajs-top.ajs-right{
  color:white
}

.editor-drawer-content .react-form-builder .react-form-builder-toolbar ul li {
  
  /* list-style: none;
  margin: 5px;
  padding: 10px;
   */
   font-family: Poppins;
font-style: normal;
   border: none !important;
  cursor: pointer;
  font-weight: normal;
font-size: 13px;
/* display: flex; */
align-items: center;
text-align: center;
color: #4F5357;
}
.editor-drawer-content .react-form-builder .react-form-builder-toolbar ul li i {
  margin: 0 5px 0 5px;
}