@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

/* font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif; */

.cardrow {
  /* display: flex;
    justify-content: space-around; */
  width: auto !important;
}

.select_theam_header .app {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #0069e7;
  letter-spacing: 0.5px;
}
.select_theam_header img {
  width: 70px;
  height: 70px;
}
.select_theam_header .header-text {
  display: flex;

  align-content: center;
}

.prl {
  padding: 2% 5%;
}

.select_theam_header .app_name {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  text-transform: capitalize;
  color: #000000;
  letter-spacing: 0.5px;
}

.cardrow .ant-card img {
  margin-top: 1px;
}
.cardrow .ant-card {
  /* width: 220px; */
  /* width: auto; */
  border-radius: 10px;
}

.theam_select_card_row col {
  flex-basis: '20%';
  width: '20%';
}

.cardrow .card-title {
  /* font-family: Nunito; */
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.cardrow .card-description {
  /* font-family: Nunito; */
  font-style: normal;
  /* font-weight: normal; */
  font-size: 12px;
  line-height: 24px;
  color: #8c8c8c;
}

.cardrow .card-color {
  /* font-family: Nunito; */
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 24px;
  color: #595959;
}

.cardrow .card-color-round {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  padding: 7px;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.cardrow .btn_div Button {
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 0px;
}

.cardrow .select_div {
  display: flex;
  justify-content: space-between;
}

.cardrow .card_img_top .btn_div {
  /* display: none; */
  /* display: block; */
  opacity: 0;
}

.cardrow .card_img_top:hover .btn_div {
  transition: 3s inline;
  display: block;
  opacity: 1;
}

.cardrow .card_img_top:hover {
  border: 1.8px solid #723dfb;
  box-sizing: border-box;
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
}

.cardrow .select_theam_header {
  padding: 20px;
}

.card_img_top {
  position: relative;
}
.radio-div {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

.cardrow .card_img_top:hover .radio-div {
  display: block;
}
.cardrow .card_img_top .select_div .red .ant-radio-inner {
  background-color: rgb(240, 132, 132);
}
.cardrow .card_img_top .select_div .blue .ant-radio-inner {
  background-color: rgb(122, 122, 248);
}
.cardrow .card_img_top .select_div .yellow .ant-radio-inner {
  background-color: rgb(226, 226, 126);
}
.cardrow .card_img_top .select_div .green .ant-radio-inner {
  background-color: rgb(132, 214, 132);
}

.cardrow .ant-card-body {
  padding: 10px;
}

.p-tag {
  margin-bottom: 0;
}

.select_theam_header .ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 10px 0;
}

.select_theam_search_box {
  padding: 20px 0 0 0;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #8c8c8c;
}

.theam_select_card_col {
  flex-basis: 20%;
  width: 20%;
}

@media (max-width: 1400) {
  .theam_select_card_col {
    flex-basis: 15%;
    width: 15%;
  }
}

@media (max-width: 1382) {
  .theam_select_card_col {
    flex-basis: 20%;
    width: 20%;
  }
}

@media (max-width: 1200px) {
  .theam_select_card_col {
    flex-basis: 20%;
    width: 20%;
  }
}

@media (max-width: 992px) {
  .theam_select_card_col {
    flex-basis: 33.33%;
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .theam_select_card_col {
    flex-basis: 50%;
    width: 50%;
  }
}

@media (max-width: 576px) {
  .theam_select_card_col {
    flex-basis: 100%;
    width: 100%;
  }
}
