.active {
  color: #0069e7;
}
.active:hover {
  color: #0069e7;
}

.inactive {
  color: #cccccc;
}
.inactive:hover {
  color: #cccccc;
}

.btn-viewboxes {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  text-align: right;
}

.app_create_Search_Box .ant-input {
  box-shadow: 0px 1px 10px #bbbbbb;
  border: 0px;
}

.app_create_Search_Box .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: 0px 0px 7px #bbbbbb;
  border: 0px;
}

.app_create_Search_Box .ant-select {
  color: #8c8c8c;
}

.grid-list-btn:hover {
  color: #cccccc;
}
.grid-list-btn .ant-btn {
  border: none; 
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 1px;
}

/* ***************************** */

@media (max-width: 980px) {
  .grid-list-btn {
    margin-top: 10px;
  }
}

@media (max-width: 850px) {
  .grid-list-btn {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .grid-list-btn {
    margin-top: 10px;
  }
}

@media (max-width: 550px) {
  .grid-list-btn {
    margin-top: 10px;
  }
}