.sidemenu.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
}
.sidemenu .ant-layout-sider {
  position: relative;
  min-width: 0;
  background: white !important;
  width: auto;
  transition: all 0.2s;
  /* width: min-content !important; */
}
.sidemenu .ant-menu-inline {

  width: fit-content;
  height: 100% !important;
  width: fit-content;
  height: 100vh !important;

}

.sidemenu .ant-layout-sider-children {
  height: 100vh;
  background: white;
  margin-top: -0.1px;
  padding-top: 0.1px;
  
}
.sidemenu .ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  /* min-height: 0; */
  background: transparent;
  width: 100%;
}
.sidemenu .ant-menu-inline .ant-menu-item::after {
  border-right: none;
}
.ant-layout-sider.ant-layout-sider-dark {
  flex: 0 0 auto !important;
  max-width: auto !important;
  background: white;
  min-width: auto !important;
  width: auto !important;
  box-shadow: 4px 0px 8px rgb(0 0 0 / 10%) !important;

}
.sidemenu .ant-menu-vertical .ant-menu-item:not(:last-child),
.ant-menu-vertical-left .ant-menu-item:not(:last-child),
.ant-menu-vertical-right .ant-menu-item:not(:last-child),
.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 25px;
  margin-top: 25px;
  /* padding: 5px; */
}
.sidemenu .ant-menu-item .icn {
  border-style: none;
  /* width: 17px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidemenu .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
  text-align: center;
}

.sidemenu .ant-menu-item .ant-menu-item-only-child{
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.sidemenu .ant-menu-inline .ant-menu-itemheight {
  height: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 16px;
  overflow: hidden;
  line-height: 40px;
  text-overflow: ellipsis;
}

.icon_home {
  display: block;
  background: transparent;
  width: 22px;
  height: 25px;
}
.icon_home:before {
  content: '';
  background-image: url('../../assets/images/icons/Home.png');
  position: absolute;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}
 
.sidemenu .ant-menu-item-selected .icon_home:before {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/images/icons/Home_Actiev.png');
  background-repeat: no-repeat;
} 
.sidemenu  .icon_home:hover::before {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/images/icons/Home_Actiev.png');
  background-repeat: no-repeat;
} 
 
.icon_dashboard {
  display: block;
  background: transparent;
  width: 20px;
  height: 20px;
}

.icon_dashboard:before {
  content: '';
  background-image: url('../../assets/images/icons/Blocks.png');
  position: absolute;
  width: 23px;
  height: 23px;
}
.sidemenu .ant-menu-item-selected .icon_dashboard:before {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/images/icons/Block_Active.png');
  background-repeat: no-repeat;
}
.sidemenu .icon_dashboard:hover::before {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/images/icons/Block_Active.png');
  background-repeat: no-repeat;
}

.icon_create {
  display: block;
  background: transparent;
  width: 24px;
  height: 24px;
}
.icon_create:before {
  content: '';
  background-image: url('../../assets/images/icons/Create.png');
  position: absolute;
  width: 24px;
  height: 24px;
}
.sidemenu .ant-menu-item-selected .icon_create:before {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/images/icons/Create_Active.png');
  background-repeat: no-repeat;
}
.sidemenu  .icon_create:hover::before {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/images/icons/Create_Active.png');
  background-repeat: no-repeat;
}
 
.ant-layout.ant-layout-has-sider {
  flex-direction: row;
}
.icon_block_grid {
  display: block;
  background: transparent;
  width: 20px;
  height: 20px;
}
.icon_block_grid:before {
  content: '';
  background-image: url('../../assets/images/icons/Files.png');
  position: absolute;
  width: 24px;
  height: 24px;
}
.sidemenu .ant-menu-item-selected .icon_block_grid:before {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/images/icons/Files_Active.png');
  background-repeat: no-repeat;
}
.sidemenu .icon_block_grid:hover::before{
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/images/icons/Files_Active.png');
  background-repeat: no-repeat;
}
.icon_logout {
  display: block;
  background: transparent;
  width: 20px;
  height: 20px;
}
.icon_logout:before {
  content: '';
  background-image: url('../../assets/images/icons/Logout.png');
  position: absolute;
  width: 22px;
  height: 30px;
  background-repeat: no-repeat;
}
