
.red {
  color: #e00035;
}
.yellow {
  color: #ffe601;
}
.bg-red {
  background-color: #e00035;
}
.blue {
  color: #0069e7;
}
.bg-blue {
  background-color: #0069e7;
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}
.bg-white {
  background: #ffffff;
}

.justify-content-center {
  justify-content: center;
}
 
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}

.title {
  font-size: 15px;
  font-weight: 700;
}
.subtitle {
  font-size: 12px;
  font-weight: 400;
  color: gray;
}

/*  */