.sidebar-component-container .ant-layout-sider-children {
  background: #001f63 !important;
}

.sidebar-component-container .ant-menu-submenu-expand-icon,
.sidebar-component-container .ant-menu-submenu-arrow {
  display: none !important;
}
.sidebar-component-container .ant-layout.ant-layout-has-sider {
  flex-direction: column;
  margin-top: 0px;
  background-color: #001f63 !important;
}
/* .sidebar-component-container .ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
} */

.sidebar-component-container {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  padding: 10px 0;
  overflow-y: auto;
  background: #001f63 !important;
  border-radius: 6px;
}

.sidebar-component-container .ant-menu .ant-menu-sub .ant-menu-inline {
  background-color: #001f63 !important;
}
.sidebar-component-container .ant-menu-title-content {
  font-weight: 600;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.7);
}

.sidebar-component-container .ant-menu-sub.ant-menu-inline {
  padding: 0;
  background: #001f63;
  border: 0;
}

.sidebar-component-container .menu-inline .ant-menu-submenu {
  padding-bottom: 0.02px;
  /* width: 208px; */
}

.sidebar-component-container .ant-menu-inline,
.sidebar-component-container .ant-menu-vertical,
.sidebar-component-container .ant-menu-vertical-left {
  border-right: none !important;
}
.sidebar-component-container .ant-menu-vertical .ant-menu-item:not(:last-child),
.sidebar-component-container .ant-menu-vertical-left .ant-menu-item:not(:last-child),
.sidebar-component-container .ant-menu-vertical-right .ant-menu-item:not(:last-child),
.sidebar-component-container .ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0px;
  margin-top: 0px;
  /* padding: 5px; */
}

.sidebar-component-container .ant-layout-sider.ant-layout-sider-dark {
  flex: 0 0 auto !important;
  max-width: auto !important;
  /* background: white; */
  min-width: auto !important;
  /* width: auto!important; */
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #001f63;
}

.sidebar-component-container .submenus .ant-menu-title-content {
  font-weight: normal;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}
.sidebar-component-container .ant-menu-inline .ant-menu-selected::after,
.sidebar-component-container .ant-menu-inline .ant-menu-item-selected::after {
  /* transform: scaleY(1); */
  opacity: 0;
}
.ant-drawer .ant-drawer-content {
  width: 100%;
  height: 100%;
  /* margin-left: 10px; */
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  /* margin: 100px 0px 0px 20px; */
}
.ant-drawer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  /* text-align: center; */
  color: #222222;
}
.ant-drawer-left.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: none;
  width: 220px !important;
}

.icon_layouts {
  display: block;
  background: transparent;
  width: 100px;
  height: 100px;
}
.icon_layouts:before {
  content: '';
  background-image: url('../../assets/images/icons/layout-frames.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
.drawer-layout-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.drawer-layout-flex .layouyt-content {
  /* background-color: #f1f1f1; */
  /* width: fit-content; */
  margin: 6px;
  /* text-align: center; */
  /* line-height: 75px;
  font-size: 30px; */
}
.ant-drawer-body {
  flex-grow: 1;
  padding: 15px;
  /* overflow: hidden; */
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}

.ant-drawer-close {
  display: block;
  background: transparent;
  color: #fff;
  /* width:100px;
      height:100px; */
}
.ant-drawer-close:hover {
  display: block;
  background: transparent;
  color: #fff;
  /* width:100px;
      height:100px; */
}
.ant-drawer-wrapper-body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  /* height: auto; */
}
.ant-drawer-close :hover {
  display: none;
  color: #fff;
}
.ant-drawer-close:before {
  content: '';
  background-image: url('../../assets/images/icons/back.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.ant-drawer.ant-drawer-open .ant-drawer-mask {
  /* height: 100%; */
  opacity: 0;
  /* transition: none; */
  /* -webkit-animation: antdDrawerFadeIn 0.3s cubic-bezier(0.23, 1, 0.32, 1); */
  /* animation: antdDrawerFadeIn 0.3s cubic-bezier(0.23, 1, 0.32, 1); */
  /* pointer-events: auto; */
}
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 30px;
  line-height: 33px;
}

.sidebar-component-container .site-drawer-render-in-current-wrapper {
  position: absolute;
  height: 100%;
  text-align: center;
  border-radius: 2px;
}
[data-theme='dark'] .site-drawer-render-in-current-wrapper {
  background: #000;
  border: 1px solid #303030;
}
/* .sidebar-component-container .ant-drawer-header{
  position: fixed;
  z-index: 999;
  width: 15%;
} */