
.box-title{ 
    text-align: center;
}
.btn-div{
display: flex;
justify-content:center;
}

.form-box{
    padding:0 70px
}

.form-box .ant-select {
    width:100%;
}
.form-box .box-title .mmm input{
    width:100%!important;
}
@media (max-width: 420px) {
    .form-box{
        padding:0 ;
    }
  }

  .form-box .ant-upload.ant-upload-select{
    width: 100%;
  }
