body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.status-private {
  color: #21B252;
  background: rgba(0, 128, 43, 0.05);
  border-radius: 6px;
  font-size: 13px;
  padding: 7px 15px;
}

.status-public {
  color: #3967DE;
  background: rgba(0, 128, 43, 0.05);
  border-radius: 6px;
  font-size: 13px;
  padding: 7px 15px;
}

.m-auto {
  margin: auto;
}

.mr-1 {
  margin-right: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.icon_plus {
  /* display: inline; */
  background: transparent;
  /* width: 50px;
  height: 50px; */
  cursor: pointer;
}

.icon_plus:before {
  content: '';
  background-image: url('../src/assets/images/icons/plus_icon.png');
  position: absolute;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.bg-pink {
  background-color: #F9F4F4;
}

.align-center {
  align-items: center;
}



.status_active {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 6px;
  background: rgba(210, 181, 85, 0.11);
  border-radius: 6px;
  color: #F2AE00;
}