@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500&display=swap');

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****scrollbar****/
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0069e7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0069e7;
}

.bg-white {
  background-color: #ffffff;
}

.mlr {
  margin-left: 1%;
  margin-right: 1%;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-5 {
  margin-left: 50px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-3 {
  padding-right: 30px;
}

.pr-4 {
  padding-right: 40px;
}

.pr-5 {
  padding-right: 50px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 30px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-5 {
  padding-left: 50px;
}

.mtb-1 {
  margin: 10px 0;
}

.mtb-2 {
  margin: 20px 0;
}

.mtb-3 {
  margin: 30px 0;
}

.mtb-4 {
  margin: 40px 0;
}

.mtb-5 {
  margin: 50px 0;
}

.mar-2 {
  margin: 20px;
}

.mar-3 {
  margin: 30px;
}

.mar-4 {
  margin: 40px;
}

.mar-5 {
  margin: 50px;
}

.ptb-1 {
  padding: 10px 0;
}

.ptb-2 {
  padding: 20px 0;
}

.pad-1 {
  padding: 1%;
}

.pad-2 {
  padding: 2%;
}

.pad-3 {
  padding: 3%;
}

.pad-4 {
  padding: 4%;
}

.pad-5 {
  padding: 5%;
}

.mb-5 {
  margin-bottom: 50px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-5 {
  margin-top: 50px;
}

.bold {
  font-weight: 400;
}

.bold-500 {
  font-weight: 500;
}

.bolder {
  font-weight: 600;
}

.containers {
  width: 100%;
  height: 100%;
  margin: auto;
  /* padding: 1%; */
  /* margin: auto; */
  /* background-color: #FFFFFF; */
}

.imgcontainer {
  width: 100%;
  height: auto;
  background: #5763f0;
  /* margin: auto; */
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 100% !important;
  width: 100%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
}

.container-box {
  width: 100%;
  /* height: auto; */
  min-height: 100vh;
  padding: 10px;
  justify-content: center;
}

.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.status-private {
  color: #21B252;
  background: rgba(0, 128, 43, 0.05);
  border-radius: 6px;
  font-size: 13px;
  padding: 7px 15px;
}

.status-public {
  color: #3967DE;
  background: rgba(0, 128, 43, 0.05);
  border-radius: 6px;
  font-size: 13px;
  padding: 7px 15px;
}

.m-auto {
  margin: auto;
}

.mr-1 {
  margin-right: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.mar-30 {
  margin-bottom: 60px;
}

.pt-3 {
  padding-top: 30px;
}

.mbtc-5 {
  margin: 5px;
}

.icon_plus {
  display: inline-flex;
  background: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.icon_plus:before {
  content: '';
  background-image: url('../images/icons/plus_icon.png');
  position: absolute;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.bg-pink {
  background-color: #F9F4F4;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}


.status_active {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 6px;
  background: rgba(210, 181, 85, 0.11);
  border-radius: 6px;
  color: #F2AE00;
}





/* *********** Login page start *************** */
.login-form-box {
  /* height:100%; */
  height: auto;
  width: auto;
  margin: 10% 20%;
  line-height: 40px;
  font-family: 'Poppins';
  font-style: normal;
}

.login-title {
  font-weight: 700;
  font-size: 26px;
}

.loginsubtext {
  font-weight: 600;
  font-size: 16px;
  color: #555555;
}

.loginsubtitle {
  font-weight: normal;
  font-size: 16px;
  color: #555555;
}

.signin-text {
  font-weight: 700;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.signin-text img {
  margin-right: 10px;
}

.text-signin-box {
  background: #ffffff;
  align-items: center;
  padding: 5px 15px;
  border: 1px solid #e8f0f3;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.login-form-box .text-input-box,
.text-input-box {
  background: #ffffff;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #e8f0f3;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.login-form-box .text-input-box:hover {
  border: 1px solid #4e59e0;
}

.login-form-box .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border: 1px solid #4e59e0;

}

.login-form-box .or-sign-in {
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  font-family: 'Poppins';
  text-align: center;
  color: rgba(64, 74, 77, 0.6);
}

/* .login-checkbox .ant-checkbox-wrapper {
  font-weight: 500;
  font-size: 16px !important;
  color: #222222;
} */
.login-form-box .login-checkbox .remember-me .ant-checkbox+span {
  padding-right: 8px;
  font-size: 30px !important;
  padding-left: 8px;
}
.login-checkbox  .ant-checkbox-inner
{
  width: 20px;
    height: 20px;
    border-radius: 4px;
}
.login-checkbox  .ant-checkbox-checked::after
{
  border: 1px solid #4E59E0;
}
.login-checkbox .ant-checkbox-checked .ant-checkbox-inner 
{
  background-color: #4E59E0;
  border-color: #4E59E0;
}

.login-form-box .login-checkbox.ant-checkbox-checked.ant-checkbox-inner {
  background-color: #4e59e0 !important;
  border-color: #4e59e0 !important;
}
.login-form-box .ant-checkbox-wrapper:hover .ant-checkbox-inner, 
.login-form-box .ant-checkbox:hover .ant-checkbox-inner,
.login-form-box .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #4e59e0;
}
.login-form-box .forgot-password {
  font-weight: 500;
  font-size: 15px;
  color: #4e59e0;
}

.login-form-box .login-button {
  background: #4e59e0;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  height: 50px;
}

.login-form-box .login-button-text {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

.login-form-box .login-button:hover,
.login-form-box .login-button:focus {
  background: #4e59e0;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.login-button:hover.login-button-text:focus {
  font-weight: 600;
  color: #ffffff;
}

.side-img {
  margin: auto;
  padding-top: 20px;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

.login-banner-text {
  margin: 8% auto;
}

.login-banner-title {
  font-weight: bold;
  font-size: 23px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
}

.login-banner-subtitle {
  font-weight: normal;
  font-size: 17px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.side-img {
  margin: auto;
  text-align: center;
  padding-top: 3%;
}

@media (max-width: 800px) {
  .login-form-box {
    margin: 6% 10%;
    line-height: 40px;
    height: auto;
    width: auto;
  }

  .forgot-password {
    font-size: 12px;
  }

  .remember-me {
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  .login-form-box {
    height: auto;
    width: auto;
    margin: 4% 8%;
    line-height: 40px;
  }
}

@media (max-width: 400px) {
  .login-form-box {
    height: auto;
    width: auto;
    margin: 3% 4%;
    line-height: 40px;
  }

  .forgot-password {
    font-size: 12px;
  }

  .remember-me {
    font-size: 11px;
  }
}

/* ************** Login Page End *****************  */

/* ************** Landing Page End *****************  */

.landing-page {
  font-family: 'Poppins';
  font-style: normal;
}

.card-container {
  width: fit-content !important;
  display: flex;
  margin: 50px auto 50px;
  /* flex-direction: row; */
}

/* .modal-container-grey .ant-modal-body, */
.modal-close-btn-white .ant-modal-body {
  padding: 0px !important;
  margin: 0 -13px;
}
.modal-container-grey .ant-modal-content{
  margin: 0 -13px;
  overflow-x: hidden;
}

/* .ant-modal {
  max-width: 100%;
} */
@media (max-width: 800px) {
  .card-container {
    flex-direction: column;
  }

  .wrapper {
    display: none;
  }
}

.or {
  margin-top: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  /* padding: 0 25px; */
  margin-bottom: auto;
  /* padding: auto; */
}

.card-box {
  margin: 9% auto !important;
  width: 80%;
  height: auto;
  cursor: default;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 20px !important;
}

.card-box .ant-card-body {
  padding: 24 4px;
}

.card-box:hover,
.card-box:focus {
  /* box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05); */
  transition: box-shadow 0.3s, border-color 0.3s;
}

.small-font {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  color: #0C1F44;
  font-weight: normal;
  letter-spacing: 0px;
}


.landing-page-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  padding: 3% 0 0 0;
}

.card-box .ant-card-head-title {
  font-size: 22px;
  font-weight: 700 !important;
}

.ant-card-head {
  border-bottom: none !important;
}

/* .ant-modal-body {
    padding: 0px;} */

.create-app-button {
  justify-content: center;
  align-items: center;
  padding: 5px 18px !important;
  margin: 8px 3px;
  height: 44px !important;
  background: #0069e7 !important;
  border-radius: 100px !important;
}

.create-app-button-text {
  font-weight: 500 !important;
  font-size: 15px !important;
  text-transform: capitalize;
  color: #ffffff !important;
}

.create-app-button:focus,
.create-app-button:hover {
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  height: 44px;
  background: #0069e7 !important;
  border-radius: 100px;
}

.create-app-button-text:hover,
.create-app-button-text:focus {
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  color: #ffffff;
}

.create-app-button2 {
  justify-content: center;
  align-items: center;
  padding: 5px 18px !important;
  height: 44px !important;
  background: #ffffff !important;
  border-radius: 100px !important;
  border: 1px solid #0069e7 !important;
}

.create-app-button-text2 {
  font-weight: 500 !important;
  font-size: 15px !important;
  text-transform: capitalize;
  color: #0069e7 !important;
}

.checkbox2 {
  font-weight: normal;
  line-height: 24px;
  display: flex;
  align-items: center;
}

/* .ant-modal-bodyant-modal-close-x{
   font-size: 40px;
   color: #0069E7;
} */
.modal-close-btn-white .ant-modal-close-x {
  display: inline-block;
  width: 35px;
  font-weight: 900;
  height: 35px;
  font-size: 15px;
  /* padding: inherit; */
  margin: 12px;
  line-height: 24px;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
}

.modal-container-grey .ant-modal-close-x {
  display: inline-block;
  width: 35px;
  font-weight: 900;
  height: 35px;
  font-size: 15px;
  /* padding: inherit; */
  margin: 12px;
  line-height: 24px;
  color: #bfbfbf;
  border-radius: 50%;
  border: 2px solid #bfbfbf;
}

@media screen and (max-width: 400px) {
  .or {
    display: none;
  }

  .card-container {
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    /* flex-direction: row; */
  }

  .landing-page-title {
    font-weight: 400;
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .or {
    display: none;
  }

  .card-container {
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    /* flex-direction: row; */
  }

  .landing-page-title {
    font-weight: 400;
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .or {
    display: none;
  }

  .card-container {
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    /* flex-direction: row; */
  }

  .landing-page-title {
    font-weight: 500;
    font-size: 25px;
  }
}

/* ************** Landing Page End *****************  */

/* ************** create new app Page start *****************  */
.box-title {
  text-align: center;
  margin-bottom: 6%;
}

.bg-background-blue {
  background-color: #f7f7fc;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.form-box .ant-select {
  width: 100%;
}

.headertext {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 8px auto;
}

.subheadertxt {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #595959;
}

.appimgcontainer {
  width: 100%;
  height: auto;
  background: #92b0ff;
  /* padding: 3%; */
}

.appimgcontainer .side-img {
  width: 100%;
  height: 100%;
}

.appimgcontainer .create-banner-text {
  margin: 10% auto 5%;
}

.appimgcontainer .banner-titletop {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

.appimgcontainer .banner-subtitletop {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  color: #000000;
}

.appimgcontainer .banner-subtitle {
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.create-app-containers {
  width: 100%;
  height: 100%;
  /* padding: 1%; */
  /* margin: auto; */
  background-color: #ffffff;
}

.createApp-form-box {
  /* height:100%; */
  background-color: #f7f7fc;
  height: auto;
  width: auto;
  justify-content: center;
  margin: 8% 22%;
  /* margin: auto; */
}

.banner-title {
  font-weight: bold;
  font-size: 25px;
  color: #fff;
}

.createAppSubtxt {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin: 5px 0 2px;
  display: flex;
  align-items: center;
  color: #595959;
}

.bg-light-blue {
  background-color: #f7f7fc;
}

.app-button .ant-btn {
  background: #0069e7;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 5px 14px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
  height: 42px;
  margin: auto 5px;
}

.app-link .ant-btn {
  color: #0069e7 !important;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  height: 45px;
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  margin: auto 5px;
}

.choose-file-btn .ant-btn {
  font-weight: bold;
  padding: 1px 7px;
  font-size: 11px;
  text-transform: capitalize;
  border: 1px solid #bfbfbf;
  background-color: #e5e5e5;
  box-sizing: border-box;
  border-radius: 7px;
  color: #0069e7;
  height: 25px;
  width: auto;
  margin: 0px 10px 0px 10px;
}

.text-input-upload {
  background: #ffffff;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 0;
}

.input-box-dark {
  background: #ffffff;
  border: 1px solid #bfbfbf !important;
  box-sizing: border-box;
  border-radius: 8px !important;
  height: 43px;
}

.textarea-box-dark {
  background: #ffffff;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  border-radius: 8px;
}

@media (max-width: 800px) {
  .createApp-form-box {
    margin: 8% 10%;
    line-height: 40px;
    height: auto;
    width: auto;
  }

  .headertext {
    font-weight: bold;
    font-size: 25px;
    margin: 8px auto;
  }
}

@media (max-width: 600px) {
  .createApp-form-box {
    height: auto;
    width: auto;
    margin: 6% 8%;
    line-height: 40px;
  }

  .headertext {
    font-weight: bold;
    font-size: 22px;
    color: #000000;
    margin: 8px auto;
  }
}

@media (max-width: 400px) {
  .createApp-form-box {
    height: auto;
    width: auto;
    margin: 3% 4%;
    line-height: 40px;
  }

  .headertext {
    font-weight: 600;
    font-size: 20px;
    margin: 6px auto;
  }
}

.icon_create_new {
  display: block;
  background: transparent;
  width: 20px;
  height: 20px;
  margin: auto;
}

.icon_create_new:before {
  content: '';
  background-image: url('../images/icons/create_new.png');
  position: absolute;
  width: 20px;
  height: 20px;
}

/* ************** create new app Page End *****************  */

/* ************** theme select popup  Start *****************  */

.cardrow {
  width: auto !important;
}

.select_theam_header .app {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #0069e7;
  letter-spacing: 0.5px;
}

.select_theam_header img {
  width: 80px;
  height: 80px;
}

.select_theam_header .header-text {
  display: flex;
  align-content: center;
}

.box-padding {
  padding: 2% 3%;
}

.select_theam_header .app_name {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  text-transform: capitalize;
  color: #000000;
  letter-spacing: 0.5px;
}

.cardrow .ant-card img {
  margin-top: 1px;
}

.cardrow .ant-card {
  /* width: 220px; */
  /* width: auto; */
  border-radius: 10px;
}

.theam_select_card_row col {
  flex-basis: 20%;
  width: 20%;
}

.cardrow .card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.cardrow .card-description {
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color: #8c8c8c;
}

.cardrow .card-color {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 24px;
  color: #595959;
}

.cardrow .card-color-round {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  padding: 7px;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.cardrow .btn_div Button {
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 0px;
}

.cardrow .select_div {
  display: flex;
  justify-content: space-between;
}

.cardrow .card_img_top .btn_div {
  /* display: none; */
  /* display: block; */
  opacity: 0;
}

.cardrow .card_img_top:hover .btn_div {
  transition: 3s inline;
  display: block;
  opacity: 1;
}

.cardrow .card_img_top:hover {
  border: 1.8px solid #723dfb;
  box-sizing: border-box;
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
}

.cardrow .card_img_top {
  box-sizing: border-box;
  border-radius: 10px;
}

.cardrow .select_theam_header {
  padding: 20px;
}

.card_img_top {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.radio-div {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

.cardrow .card_img_top:hover .radio-div {
  display: block;
}

.cardrow .card_img_top .select_div .red .ant-radio-inner {
  background-color: #f171ab;
}

.cardrow .card_img_top .select_div .blue .ant-radio-inner {
  background-color: #6f89ee;
}

.cardrow .card_img_top .select_div .yellow .ant-radio-inner {
  background-color: #a580ec;
}

.cardrow .card_img_top .select_div .green .ant-radio-inner {
  background-color: #3fbfb8;
}

.cardrow .ant-card-body {
  padding: 10px;
}

.p-tag {
  margin-bottom: 0;
}

.select_theam_header .ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 10px 0;
}

.select_theam_search_box {
  padding: 20px 0 0 0;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #8c8c8c;
}

.theam_select_card_col {
  flex-basis: 25%;
  width: 25%;
}

@media (max-width: 1450) {
  .theam_select_card_col {
    flex-basis: 15%;
    width: 15%;
  }
}

@media (max-width: 1382) {
  .theam_select_card_col {
    flex-basis: 25%;
    width: 25%;
  }
}

@media (max-width: 1200px) {
  .theam_select_card_col {
    flex-basis: 25%;
    width: 25%;
  }
}

@media (max-width: 992px) {
  .theam_select_card_col {
    flex-basis: 33.33%;
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .theam_select_card_col {
    flex-basis: 50%;
    width: 50%;
  }
}

@media (max-width: 576px) {
  .theam_select_card_col {
    flex-basis: 100%;
    width: 100%;
  }
}

/* ************** theme select popup End *****************  */

/* ************** app createrd start *****************  */
.subheader-container {
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 10px;
}

.upload-container {
  background: #ffffff;
  box-shadow: 0px 2px 20px rgb(0 0 0 / 5%);
  border-radius: 10px;
  height: 370px;
  text-align: center;
  width: 100%; 
}
.upload-box{
  justify-content: center;
}
.upload-container  .plusicon {
  justify-content: center; 
 
}

.upload-container .addModule {
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  text-transform: capitalize;
  color: #0069e7;
}

.empty-box {
  width: auto;
  height: 100%;
  border: 1px dashed #c9c9d8;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.labels .title {
  font-weight: bold;
  font-size: 22px;
  /* line-height: 32px; */
  text-align: center;
  color: #696974;
  opacity: 0.6;
}

.labels .subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  /* line-height: 28px; */
  text-align: center;
  color: #a2a2aa;
}

.empty {
  padding: 0;
  text-align: center;
}

.empty-img {
  margin: auto;
  opacity: 0.5;
}

.flex-container-grid {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* background-color: DodgerBlue; */
}

.flex-container-grid>div {
  /* background-color: #f1f1f1; */
  width: min-content;
  margin: 6px;
  text-align: center;
  line-height: 75px;
  /* font-size: 30px; */
}

.app_create_Search_Box .ant-input {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  height: 35px;
}

.app_create_Search_Box .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  height: 35px;
}

/* ************ app createrd End ************** */

/* ************ Dashboard start ************** */
.d-card-container {
  width: auto;
  height: auto;
  justify-content: center;
}

.dash-cards {
  margin: auto;
}

/* ************ Dashboard End ************** */

/* ************ Applist Start ************** */
.recent_grid_card_div,
.app_list_card_div,
.app_card_div {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.box-padding .ant-tabs-tab {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #858a9b;
  padding: 0 12px;
}

.box-padding .ant-tabs-top>.ant-tabs-nav .ant-tabs-ink-bar,
.box-padding .ant-tabs-top>.ant-tabs-nav .ant-tabs-ink-bar {
  bottom: 0;
  display: none;
}

.box-padding.ant-tabs-top>.ant-tabs-nav::before,
.ant-tabs-top>div>.ant-tabs-nav::before {
  bottom: 0;
}

.box-padding .ant-tabs-top>.ant-tabs-nav::before,
.box-padding .ant-tabs-bottom>.ant-tabs-nav::before,
.box-padding .ant-tabs-top>.ant-tabs-nav::before,
.box-padding .ant-tabs-bottom>.ant-tabs-nav::before {
  /* position: absolute; */
  right: 0;
  left: 0;
  border-bottom: none;
  content: '';
}

.datepicker .ant-picker {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 10%) !important;
  border-radius: 6px !important;
  border: 0px;
  height: 40px;
  align-items: center;
  /* border: 1px solid #d9d9d9; */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #a0a0a0 !important;
}

/* ************ Applist End ************** */

/* ************ Recent Activity list Start ************** */
.sub_header {
  background-color: #ffff;
  padding: 15px;
  border-radius: 8px;
}

.recent_activitivites_list_div .app_details_box {
  display: flex;
}

.recent_activitivites_list_div .app_details_box .app_details_box_img_div {
  margin-right: 7px;
}

.recent_activitivites_list_div .app_details_action_div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  color: #e2e2e2;
}

.recent_activitivites_list_div .app_details_box .app_details_box_text_div {
  display: inline-grid;
  padding: 5px 0;
}

.recent_activitivites_list_div .app_details_box img {
  width: 85%;
}

.recent_activitivites_list_div .app_details_box .app_details_title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.recent_activitivites_list_div .app_details_box .app_details_sub_title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: #595959;
}

.recent_activitivites_list_div .last_date_date {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #595959;
}

.recent_activitivites_list_div .comments {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;

  color: #595959;
}

@media (max-width: 987px) {
  .recent_activitivites_list_div .app_details_action_div {
    display: inline;
    justify-content: space-around;
    color: #e2e2e2;
  }
}

/* ************ Recent Activity list End ************** */

/* ************ Module count list Start ************** */


.app_details_box {
  display: flex;
}

.app_details_box .app_details_box_img_div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.app_details_box .app_details_box_img_div img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.app_details_action_div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #e2e2e2;
}

.app_details_box .app_details_box_text_div {
  display: inline-grid;
  padding: 5px 10px;
}

.app_details_box img {
  width: 85%;
}

.app_details_box .app_details_title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.app_details_box .app_details_sub_title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: #595959;
}

tbody>tr:hover>td .app_details_action_div {
  color: #0069e7;
}

.app_details_action_div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #e2e2e2;
}

.ant-table-thead>tr>th {
  color: #2e2e2e;
  background-color: none;
  font-weight: 800;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7fc;
  transition: background 0.3s ease;

  font-family: 'Nunito';
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.ant-table-thead>tr>th {
  color: #2e2e2e;
  background-color: none;
  font-weight: 900;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7fc;
  transition: background 0.3s ease;

  font-family: 'Nunito';
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.last_date_date {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #595959;
}

.comments {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;

  color: #595959;
}

@media (max-width: 987px) {
  .app_details_action_div {
    display: inline;
    justify-content: space-around;
    color: #e2e2e2;
  }
}

/* ************ Module count list End ************** */
/* ************ PageType Start ************** */
.page_type .img-box img {
  margin: 5% 0;
  width: 20%;
}

.page_type .page_main_title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #100629;
  opacity: 0.6;
}

.page_type {
  background-color: #f9f4f4;
  overflow-x: hidden;
  margin-top: 1px;
}

.card-sm {
  display: flex;
  justify-content: space-around;
  background-color: transparent !important;
  padding: 0 10%;
  margin: 5% 0 5% 0;
}

.subheader-box,
.subheader_components {
  background: #ffffff;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 1px 0;
}

.subheader_components.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  /* padding-right: 18px; */
  color: #000 !important;
}

.subheader_components .status-div {
  color: #c6bcbc;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 8px;
  border: 0.1px solid #c6bcbc;
}

.subheader_components .preview-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 7px 0 0; */
}

.subheader_components .preview-btn .ant-btn {
  color: #0069e7;
  border: 0.5px solid #0069e7;
  border-radius: 5px;
}

.subheader_components .publish-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 5px 0 0; */
}

.subheader_components .publish-btn .ant-btn {
  color: #fff;
  /* border: 0.5px solid #0069E7; */
  background-color: #0069e7;
  border-radius: 5px;
}

.subheader_components .more-btn .ant-btn {
  color: #0069e7;
  border: 0.5px solid #0069e7;
  border-radius: 5px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0px 20px;
  /* margin-right: 3px; */
  /* padding: auto; */
}

.subheader_components .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dropdown-border .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #fff;
  border: 1px solid #0069e7;
  color: #0069e7;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dropdown-border .ant-select-arrow {
  color: #0069e7;
}

.vertical-line {
  border-right: 1px solid #cacaca;
  height: auto;
  /* margin: 0 15px; */
}

.cancel-box {
  padding: 5px 0px;
  margin: 0px -5px 0px -10px;
  background: #f7f7fc;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 11px;
  /* line-height: 40px; */
  text-align: center;
  color: #0069e7;
}

.first_row {
  display: flex;
  justify-content: start;
}

.seconed_row {
  display: flex;
  justify-content: end;
}

.icon_comment_link {
  display: inline;
  background: transparent;
  width: 100%;
  height: 25px;
  background-repeat: no-repeat;
  /* margin: auto; */
}

.icon_comment_link:before {
  content: '';
  background-image: url('../../assets/images/comment-icon.svg');
  position: absolute;
  width: 100%;
  height: 25px;
  background-repeat: no-repeat;
}

.icon_back_arrow {
  display: inline;
  background: transparent;
  width: 100%;
  height: 25px;
  background-repeat: no-repeat;
  /* margin: auto; */
}

.icon_back_arrow:before {
  content: '';
  background-image: url('../../assets/images/icons/back_arrow.png');
  position: absolute;
  background-repeat: no-repeat;
  margin-left: 10px;
  width: 18px;
  text-align: center;
  height: 16px;
}

.icon_rocket {
  display: inline;
  background: transparent;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  margin-right: 25px;
  position: relative;
  top: 3px;
}

.icon_rocket:before {
  content: '';
  background-image: url('../../assets/images/icons/Rocket.png');
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 0px;
  margin-right: 5px;
  background-repeat: no-repeat;
}
.circular_tick {
  display: inline;
  background: transparent;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  margin-right: 25px;
  position: relative;
  top: 5px;
}

.circular_tick:before {
  content: '';
  background-image: url('../../assets/images/icons/circular_tick.png');
  position: absolute;
  width: 15px;
  /* top: 1px; */
  height: 15px;
  margin: 0px;
  margin-right: 5px;
  background-repeat: no-repeat;
}
.select_temp {
  display: inline;
  background: transparent;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  margin-right: 25px;
  top:3px;
  position: relative;
}

.select_temp:before {
  content: '';
  background-image: url('../../assets/images/icons/select_temp.png');
  position: absolute;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
}
.create_new {
  display: inline;
  background: transparent;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 25px;
  position: relative;
  top:3px;
}

.create_new:before {
  content: '';
  background-image: url('../../assets/images/icons/create_new.png');
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.icon_eye {
  display: inline;
  background: transparent;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  margin-right: 25px;
  position: relative;
  top: 5px;
}

.icon_eye:before {
  content: '';
  background-image: url('../../assets/images/icons/eye.png');
  position: absolute;
  width: 15px;
  height: 15px;
  /* top: 2px; */
  margin: 0px;
  margin-right: 5px;
  background-repeat: no-repeat;
}
.icon_triangle_down {
  display: inline;
  background: transparent;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.icon_triangle_down:before {
  content: '';
  background-image: url('../../assets/images/icons/Triangle-Down.png');
  position: absolute;
  width: 15px;
  height: 15px;
  /* top: 2px; */
  margin: 0px;
  margin-right: 5px;
  background-repeat: no-repeat;
}
.margin-right {
  margin-left: 35px;
}


.subheader_components .dropdown-border-none {
  height: 30px;
}

@media (max-width: 1200px) {
  .first_row {
    display: flex;
    justify-content: start;
  }

  .seconed_row {
    display: flex;
    justify-content: start;
  }
}

@media (max-width: 420px) {
  .vertical-line {
    border-right: none;
    height: auto;
    margin: 0 15px;
  }
}

/* ************ PageType End ************** */

/* ************  Table data Start ************** */
.tableData .table {
  border-spacing: 0 0.85rem !important;
}

.tableData .table .dropdown {
  display: inline-block;
}

.tableData .table td,
.tableData .table th {
  vertical-align: middle;
  margin-bottom: 10px;
  border: none;
}

.tableData .table thead tr,
.tableData .table thead th {
  border: none;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  color: #8c8c8c;
}

.tableData .table td {
  background: #fff;
}

.tableData .table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tableData .table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tableData .avatar {
  width: 2.75rem;
  height: 2.75rem;
  line-height: 3rem;
  border-radius: 50%;
  display: inline-block;
  background: transparent;
  position: relative;
  text-align: center;
  color: #868e96;
  font-weight: 700;
  vertical-align: bottom;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tableData .avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.83333rem;
  line-height: 1.5;
}

.tableData .avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.tableData .avatar-blue {
  background-color: #c8d9f1;
  color: #467fcf;
}

.tableData table.dataTable.dtr-inline.collapsed>tbody>tr[role='row']>td:first-child:before,
.tableData table.dataTable.dtr-inline.collapsed>tbody>tr[role='row']>th:first-child:before {
  top: 28px;
  left: 14px;
  border: none;
  box-shadow: none;
}

.tableData table.dataTable.dtr-inline.collapsed>tbody>tr[role='row']>td:first-child,
.tableData table.dataTable.dtr-inline.collapsed>tbody>tr[role='row']>th:first-child {
  padding-left: 48px;
}

.tableData table.dataTable>tbody>tr.child ul.dtr-details {
  width: 100%;
}

.tableData table.dataTable>tbody>tr.child span.dtr-title {
  min-width: 50%;
}

.tableData table.dataTable.dtr-inline.collapsed>tbody>tr>td.child,
.tableData table.dataTable.dtr-inline.collapsed>tbody>tr>th.child,
.tableData table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty {
  padding: 0.75rem 1rem 0.125rem;
}

.tableData div.dataTables_wrapper div.dataTables_length label,
.tableData div.dataTables_wrapper div.dataTables_filter label {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .tableData div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin-top: 1rem;
  }
}

.tableData .btn-icon {
  background: #fff;
}

.tableData .btn-icon  .bx {
  font-size: 20px;
}

.tableData .btn .bx {
  vertical-align: middle;
  font-size: 20px;
}

.tableData .dropdown-menu {
  padding: 0.25rem 0;
}

.tableData .dropdown-item {
  padding: 0.5rem 1rem;
}

.tableData .badge {
  padding: 0.5em 0.75em;
}

.tableData .badge-success-alt {
  background-color: #d7f2c2;
  color: #7bd235;
}

.tableData .table a {
  color: #212529;
}

.tableData .table a:hover,
.tableData .table a:focus {
  text-decoration: none;
}

.tableData table.dataTable {
  margin-top: 12px !important;
}

.tableData .icon>.bx {
  display: block;
  min-width: 1.5em;
  min-height: 1.5em;
  text-align: center;
  font-size: 1.0625rem;
}

.tableData .btn {
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
}

.tableData .avatar-blue {
  background-color: #c8d9f1;
  color: #467fcf;
}

.tableData .avatar-pink {
  background-color: #fcd3e1;
  color: #f66d9b;
}

.tableData table.dataTable.no-footer {
  border-bottom: 0px solid #111;
}

.tableData table.dataTable thead th,
table.dataTable thead td {
  padding: 10px;
}

.tableData tbody>tr:hover>td .app_details_action_div {
  color: #0069e7;
}

.tableData tbody>tr:hover {
  border: 1px solid #0069e7;
  box-sizing: border-box;
  border-radius: 4px;
}

/* ************  Table data End ************** */

/* ************  Edito Chat start ************** */
.editor_chat_main {
  overflow: hidden;
}

.editor_chat {
  background-color: #e5e5e5;
  padding: 3% 0px;
}

/* ************  Editor Chart End ************** */
/* ************  Editor Elements setting Start ************** */
.elemenent_stting_editor_main {
  overflow-x: hidden;
}

.elemenent_stting_editor {
  background-color: #e5e5e5;
  padding: 3% 0px;
}

/* ************  Editor Elements setting End ************** */
/* ************  form_page_editor Start ************** */

.editor_form_page_main {
  overflow: hidden;
}

.form_page_editor {
  padding: 3% 0px;
}

/* ************  form_page_editor End ************** */
.edit_setting_main {
  overflow-x: hidden;
}

.edit_setting {
  overflow-x: hidden;
}

/* ******* genral ****** */

.genral {
  width: auto;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  min-height: 500px;
  padding: 15px 30px;
  font-family: 'Poppins';
  font-style: normal;
}

.genral .title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #4B1CC2;
  padding: 10px 0px;

}

.genral .page-setting {
  width: fit-content;
  padding: auto;
}

.genral .form-setting {
  width: 240px;
  padding: auto;
}

.genral .section6-active-title {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  color: #333333;
}

.genral .section1-title,
.genral .section2-title,
.genral .section3-title,
.genral .section4-title,
.genral .section5-title {

  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 5px;
  color: #777777;
}

.section5,
.section6 {
  display: flex;
  justify-content: space-between;
}

.genral .section1 .ant-input,
.genral .section2 .ant-input {
  width: 100%;
  padding: 5px 1px;
  color: black !important;
}

.genral .section3-subtitle,
.genral .section4-subtitle,
.genral .section5-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #222222;
}

.genral .btn-change {
  background: #FFFFFF;
  border: 1px solid #723DFB;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: normal;
  font-size: 11px;
  height: 25px;
  color: #723DFB !important;
}

.genral .section6-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 44px;
  color: #4B1CC2;
}

.genral .section6-edit {
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #777777;
}

.section5 .ant-switch-checked,
.section6 .ant-switch-checked
 {
  background-color: #723DFB;
}

/* ********** base color ********** */

.base_color {
  width: auto;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  min-height: 500px;
  padding: 15px 30px;
}
.base_color .ant-divider-horizontal,
.genral .ant-divider-horizontal,
.base_typography .ant-divider-horizontal,
.page-setting .ant-divider-horizontal {
  margin: 15px 0;
}

.base_color_section .title,
.button_section .title,
.spacing_section .title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #4B1CC2;
  padding: 10px 0px;

}

.base_color_section .sub_title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  /* line-height: 100%; */
  color: #777777;
}

.button_section .button_section_subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #595959;
  /* padding: 15px 0; */
}

.spacing_section .spacing_section_align_left {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #595959;
}

.spacing_section .spacing_section_align_right {
  text-align: right;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 100%;
  color: #723DFB;
}

.Spacing_div {
  /* padding: 15px 0px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

/* ******** Base Typography ******* */
.base_typography {
  width: auto;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  min-height: 500px;
  padding: 15px 30px;
}

.page-settings-header {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding: 20px 0;
  color: #000000;
}

.base_typography .title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 0px;
  color: #4B1CC2;
}


.form-icn {
  color: #4E59E0;
}

.base_typography .sub_title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #777777;
}

.style_div .style_box {
  display: flex;
  justify-content: space-between;
}

.style_div .style_box .sub_title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 100%;
  color: #777777;
  margin-bottom: 0px;
}

.style_div .style_box .title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 410;
  font-size: 14px;
  line-height: 100%;
  color: #333333;
  margin-bottom: 0px;
}

.base_typography .ant-input-number {
  box-sizing: border-box;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  width: 100%;
  min-width: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  transition: all 0.3s;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.icon_edit_purple {
  display: block;
  background: transparent;
  width: 16px;
  height: 16px;
}
.icon_edit_purple:before {
  content: '';
  background-image: url('../images/icons/icon_edit_purple.png');
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}
/* ************  Editor Setting start end ************** */

.mtb-3 {
  margin: 15px 0;
}

.mt-7 {
  margin-top: 60px;
}

/*  *************user grid / list start ************ */
.user_grid {
  min-height: 100vh;
}

.user_grid .management {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.user_grid .create_new_user {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #0069E7;
  box-sizing: border-box;
  border-radius: 6px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 20px;
  background-color: #F9F4F4;
  color: #0069E7;
  padding: 2px 5px;
}

.user_grid .create_new_user span {
  padding: 0 6px;
}

.user_grid .user_profile_img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user_grid .user_profile_title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.user_grid .ant-table-thead>tr>th,
.ant-table-tbody>tr>td,
.ant-table tfoot>tr>th,
.ant-table tfoot>tr>td {
  position: relative;
  padding: 12px 8px;
  overflow-wrap: break-word;
}

.user_grid .role,
.user_grid .last_activity,
.user_grid .last_seen,
.user_grid .app {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #595959;
}

/* *************  user grid / list end ************* */

/************* Editor theme select start  ***********/
.theme_select_editor {
  padding: 3%;
}

.select_theam_editr_header .app {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #0069e7;
  letter-spacing: 0.5px;
}

.select_theam_editr_header img {
  width: 70px;
  height: 70px;
}

.select_theam_editr_header .header-text {
  display: flex;
  align-content: center;
}

.prl {
  padding: 2% 5%;
}

.select_theam_editr_header .app_name {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  text-transform: capitalize;
  color: #000000;
  letter-spacing: 0.5px;
}

.card_img_top_editor .active_card {
  border: 0.1px solid #00802b;
  border-radius: 5px;
  padding: 3px 10px;
  font-style: normal;
  line-height: 16px;
  color: #00802b;
}

.cardrow .card_img_top_editor .btn_div {
  /* display: none; */
  /* display: block; */
  opacity: 0;
}

.cardrow .card_img_top_editor:hover .btn_div {
  transition: 3s inline;
  display: block;
  opacity: 1;
}

.cardrow .card_img_top_editor {
  border: 1.8px solid #ececec;
  box-sizing: border-box;
  border-radius: 10px;
}

.cardrow .card_img_top_editor:hover {
  border: 1.8px solid #723dfb;
  box-sizing: border-box;
  border-radius: 10px;
}

.cardrow .select_theam_header {
  padding: 20px;
}

.card_img_top_editor {
  position: relative;
}

.radio-div {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

.cardrow .card_img_top_editor:hover .radio-div {
  display: block;
}

.cardrow .card_img_top_editor .select_div .red .ant-radio-inner {
  background-color: rgb(240, 132, 132);
}

.cardrow .card_img_top_editor .select_div .blue .ant-radio-inner {
  background-color: rgb(122, 122, 248);
}

.cardrow .card_img_top_editor .select_div .yellow .ant-radio-inner {
  background-color: rgb(226, 226, 126);
}

.cardrow .card_img_top_editor .select_div .green .ant-radio-inner {
  background-color: rgb(132, 214, 132);
}

.card_img_top_editor .text-btn-div {
  display: flex;
  justify-content: space-between;
}


/************* Editor theme select End  ***********/
.icon_apps {
  display: block;
  background: transparent;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.icon_apps:before {
  content: '';
  background-image: url('../../assets/images/icons/apps.png');
  position: absolute;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}


.icon_view {
  display: block;
  background: transparent;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.icon_view:before {
  content: '';
  background-image: url('../../assets/images/icons/view.png');
  position: absolute;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.icon_view:hover::before {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/images/icons/active_view.png');
  background-repeat: no-repeat;

}

.icon_edit {
  display: block;
  background: transparent;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.icon_edit:before {
  content: '';
  background-image: url('../../assets/images/icons/edit.png');
  position: absolute;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.icon_edit:hover::before {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/images/icons/active_edit.png');
  background-repeat: no-repeat;

}

.icon_active_edit {
  display: block;
  background: transparent;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.icon_active_edit:before {
  content: '';
  background-image: url('../../assets/images/icons/active_edit.png');
  position: absolute;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.icon_delete {
  display: block;
  background: transparent;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.icon_delete:before {
  content: '';
  background-image: url('../../assets/images/icons/delete.png');
  position: absolute;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.icon_delete:hover::before {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/images/icons/active_delete.png');
  background-repeat: no-repeat;

}

.list_menu {
  width: 150px;
  height: auto;
  padding: 15px !important;
  background-color: rgb(146, 55, 55);
  border-radius: 10px !important;
  outline: none;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1) !important;

}
.list_menu a:hover{
  background-color: transparent !important;

}

 /* *********** Pagination styling  ************* */

 .ant-pagination-item-active{
  font-weight: 500;
  border-radius: 50px !important;
  background: #0069e7 !important;
  color: #ffff !important;
  border:#0069e7;
 }
 .ant-pagination-item-active a{ 
  color: #ffff !important; 
 }

 .ant-pagination-item{
   border-radius: 50px !important;
 }

 /* .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: transparent !important;
  border: none !important;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
 } */

 .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  /* display: block; */
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 12px;
  text-align: center;
  background-color: transparent !important;
  border: 0px solid #d9d9d9 !important;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
}


/************* Editor theme select End  ***********/ 

.d_icon_label {
  /* display: block; */
  background: transparent;
  width: 30px;
  height: 30px;
  cursor:grab;
}
.d_icon_label:before {
  content: '';
  background-image: url('../images/icons/drawer-icons/A.png');
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}
.d_icon_text_field {
  /* display: block; */
  background: transparent;
  width: 30px;
  height: 30px;
  cursor:grab;
}
.d_icon_text_field:before {
  content: '';
  background-image: url('../images/icons/drawer-icons/text.png');
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}
.d_icon_number {
  /* display: block; */
  background: transparent;
  width: 30px;
  height: 30px;
  cursor:grab;
}
.d_icon_number:before {
  content: '';
  background-image: url('../images/icons/drawer-icons/number.png');
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}
.d_icon_select {
  /* display: block; */
  background: transparent;
  width: 30px;
  height: 36px;
  cursor:grab;
}
.d_icon_select:before {
  content: '';
  background-image: url('../images/icons/drawer-icons/select.png');
  position: absolute;
  width: 30px;
  height: 36px;
  background-repeat: no-repeat;
}
.d_icon_checkbox {
  /* display: block; */
  background: transparent;
  width: 30px;
  height: 30px;
  cursor:grab;
}
.d_icon_checkbox:before {
  content: '';
  background-image: url('../images/icons/drawer-icons/check.png');
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}
.d_icon_two_col {
  /* display: block; */
  background: transparent;
  width: 30px;
  height: 30px;
  cursor:grab;
}
.d_icon_two_col:before {
  content: '';
  background-image: url('../images/icons/drawer-icons/2col.png');
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}
.d_icon_three_col {
  /* display: block; */
  background: transparent;
  width: 30px;
  height: 30px;
  cursor:grab;
}
.d_icon_three_col:before {
  content: '';
  background-image: url('../images/icons/drawer-icons/3col.png');
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}
.d_icon_four_col {
  /* display: block; */
  background: transparent;
  width: 30px;
  height: 30px;
  cursor:grab;
}
.d_icon_four_col:before {
  content: '';
  background-image: url('../images/icons/drawer-icons/4col.png');
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.icon_more {
  display: block;
  background: transparent;
  width: 10px;
  height: 20px;
  background-repeat: no-repeat;
}

.icon_more:before {
  content: '';
  background-image: url('../../assets/images/icons/more.png');
  position: absolute;
  width: 10px;
  height: 20px;
  background-repeat: no-repeat;
}