.Search_box .ant-input {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: 0px;
  height: 40px;
  letter-spacing: 0.5px;
}

.Search_box .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: 0px;
  height: 40px;
  align-items: center;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #a0a0a0;
}

/* .text-input-box {
  background: #ffffff;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  border-radius: 8px;
} */

.text-input-box .ant-select-selector {
  /* position: relative; */
  background-color: #fff;
  border: 1px solid red;
  /* border: 1px solid #d9d9d9; */
}

.dd-box.ant-select {
  background: #ffffff;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  border-radius: 8px;
  height: 44px;
  display: block;
}
.dd-input-box.ant-select {
  
  display: block;
  background: #ffffff;
    align-items: center;
    padding: 5px 15px;
    border: 1px solid #e8f0f3;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
    border-radius: 10px
}

.dd-box.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
  height: 41px;
  border-radius: 9px;
  padding: 5px 15px;
  width: 100%;
}
.dd-input-box.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
  height: 33px;
  border-radius: 9px;
  padding: 5px 15px;
  width: 100%;
}
.dd-box .ant-select-arrow {
  color: #0069e7;
}
