@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500&display=swap');


.receiver {
    justify-content: flex-start;
    display: flex;
}

.block_comment .receiver .receiver_span,
.editor_coments .receiver .receiver_span {
    font-family: 'Nunito';
    padding: 15px;
    position: static;
    background: #F7F7F7;
    border-radius: 6px 6px 6px 0px;
    margin: 6px 0px;
    max-width: 240px;
}

.sender {
    justify-content: flex-end;
    display: flex;
}


.editor_coments .sender .sender_span,
.block_comment .sender .sender_span {
    font-family: 'Nunito';
    background: #0069E7;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 6px 6px 0px 6px;
    margin: 10px 0px;
    max-width: 240px;

}

.send_btn_div .ant-input {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 10px 15px 15px;

    background: #F4F5F7;
    border-radius: 10px;
    margin-right: 8px;
}

.chat_div {
    min-height: 450px;

}

.send_btn_div {
    display: flex;
}



.icon_send {
    display: block;
    background: transparent;
    width: 24px;
    height: 20px;
    margin: auto;
}

.icon_send:before {
    content: '';
    background-image: url('../../assets/images/icons/send.png');
    position: absolute;
    width: 24px;
    height: 20px;
}

.recevier_img {
    display: flex;
    flex-direction: column-reverse;
    margin: 8px
}

.receiver_date_time {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #595959;
    text-align: start;
    margin-left: 50px;
}

.sender_date_time {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #595959;
    text-align: end;
    margin-right: 50px;
}

.sender_div {
    display: flex;
    flex-direction: column;
}

/* **************** Empty coment box  ****************** */
.empty_chat {
    height: 100%;
}

.empty_chat .empty_chat_temp {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.empty_chat .empty_chat_box {
    text-align: center;
    margin-bottom: 25px;
}

.empty_chat .empty_chat_text {
    display: flex;
    justify-content: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #8562DB;
    opacity: 0.7;
    margin-bottom: 25px;
}

.empty_chat .empty_chat_temp .empty_chat_description {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}

.header_comment_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0px;
    box-shadow: 0 2px 0px #f4f4f4;
}

.header_comment_btn .ant-btn {
    border-color: white;
}

.empty_chat .empty_chat_temp .ant-btn {
    border-radius: 5px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    background: #0069E7;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.empty_chat_temp .icon_rocket {
    display: inline;
    background: transparent;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    margin-right: 22px;
    position: relative;
    top: 0px;
}

.icon_close_btn {
    display: table-row;
    background: transparent;
    width: 24px;
    height: 24px;
}

.icon_close_btn:before {
    content: '';
    background-image: url('../../assets/images/icons/close-btn.png');
    position: absolute;
    width: 24px;
    height: 24px;
}

/* ************ Block comments ********** */

.input_selected .label {
    font-size: 12px;
    margin: 0 0 5px 0;
}

.block_comment .input_selected {
    padding: 13px;
}

.input_selected .selected-input {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;

}

.input_selected {
    background: #FFFFFF;
    border: 1px dashed #0069E7;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
    border-radius: 6px;

}

.block_comment .title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0px;
    color: #000000;
}

.block_comment .comments-div {
    margin: 30px 0;
}
.block_comment .comments-div .comments-titile {
    font-family: 'Nunito';
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 24px; 
margin-bottom: 0;
color: #000000;
}
.block_comment .comments-div .comments-titile .comments-sub {
    font-family: 'Nunito';
    font-style: normal; 
    font-size: 14px;
    line-height: 24px;
    color: #888888;
}