.mt-3 {
  margin-top: 30px;
}
.element_setting,
.all_coments_tab,
.empty_chat,
.block_comment,
.editor_coments {
    width: auto;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    /* min-height: 600px; */
    padding: 20px;
    /* margin: 15px; */
}
.pad-2{
    padding: 5px 20px;
}
.form-page-container{
    width: auto;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

/* .form-page-container.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
        background-color: rgb(196, 124, 29) !important;
} */
.page-setting {
    width: 100%;
    background-color: #FFFFFF;
    height: 100%;
}

.form-setting {
    width: 100%;
    padding: auto;
}

.section6-active-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #333333;
}

.section1 .section1-title,
.section2 .section2-title,
.section3 .section3-title,
.section4 .section4-title {
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 5px;
    color: #777777;
}
.section5 .section5-title{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 5px;
    color: #333333;
}
.page-header{
    font-family: 'Nunito';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 30px;
color: #4B1CC2;
}
.section1 .ant-input,
.section2 .ant-input {
    width: 100%;
    padding: 5px 1px;
    color: black !important;
}

.section3-subtitle,
.section4-subtitle,
.section5-subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #222222;
}

.btn-change {
    background: #FFFFFF;
    border: 1px solid #723DFB;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: normal;
    font-size: 11px;
    height: 25px;
    color: #723DFB !important;
}

.section6-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 44px;
    color: #4B1CC2;
}

.section6-edit {
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #777777;
}

.section-active-status .ant-switch-checked,
.section-validation .ant-switch-checked,
.section-edit-access .ant-switch-checked {
    background-color: #723DFB;
}

.form-page-container.ant-tabs-tab {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #858A9B;
}

.form-page-container .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #723DFB;
    text-shadow: 0 0 0.25px currentColor;
}

.form-page-container .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
    background: #F7F7FC;
    width: 100%;
}

/* *********************  Form Empty ********************** */
.form_empty_editor_main { 
    overflow: hidden;
}
.form_empty_editor {
    background-color: #E5E5E5;
    padding: 3% 0px;
}

.empty_box {
    width: 100%;
    height: 100%;
    /* height: 80vh;
    left: 308px;
    top: 184px; */
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.empty_box_div {
    width: auto;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.empty {
    text-align: center;
}

.temp {
    display:  flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
  }

/* .form_empty_editor .empty_box .img_div {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.empty_box .text_div {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    /* line-height: 32px; */
    color: #100629;
    opacity: 0.6;
}

.search_bar {
    background-color: #f8fafc;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    border-radius: 6px;
  }
  .select_div {
    flex-grow: 5;
  }
  .search_bar .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #ffffff;
    border: 1px solid #e5eaef;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .search_bar .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    color: #222222;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;
  }
  
  .search_bar
    .ant-select-show-search.ant-select:not(.ant-select-customize-input)
    .ant-select-selector
    input {
    height: 25px;
  }
  
  .search_bar .do_undo_div {
    display: flex;
      justify-content: left;
      flex-grow: 1;
      align-items: center;
      margin: auto;
  }
  
  .search_bar .zoom-icons {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
  }
  
  .search_bar .icon_zoom_in {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 0px 5px;
    cursor: pointer;
  }
  
  .search_bar .icon_zoom_out {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 0px 5px;
    cursor: pointer;
  }
  .search_bar .screens {
    display: flex;
    flex-grow: 1;
    text-align: right;
    align-items: center; 
    justify-content: space-evenly;
  }
  
  .search_bar .activescreen {
    color: #723DFB;
  }
  
  .icon_undo {
    display: inline;
    background: white;
    padding: 0px 5px;
    margin: 0 5px;
   border-radius: 50%;
   font-size: 18px;
   cursor: pointer;
  }
  
  .icon_redo {
    display: inline;
    background: white;
    padding: 0px 5px;
    margin: 0 5px;
   border-radius: 50%;
   font-size: 18px;
   cursor: pointer;
  }
  
  .icon_desktop {
    display: inline;
    background: transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .icon_desktop:before {
    content: '';
    background-image: url('../../assets/images/icons/desktop.png');
    position: absolute;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
  }

  .icon_desktop:hover::before {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../../assets/images/icons/active_desktop.png');
    background-repeat: no-repeat;
  
  }
  
  .icon_tab {
    display: inline;
    background: transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .icon_tab:before {
    content: '';
    background-image: url('../../assets/images/icons/tab.png');
    position: absolute;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
  }

  .icon_tab:hover::before {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../../assets/images/icons/active_tab.png');
    background-repeat: no-repeat;
  
  }
  
  .icon_mob {
    display: inline;
    background: transparent;
    width: 14px;
    height: 24px;
    cursor: pointer;
  }
  
  .icon_mob:before {
    content: '';
    background-image: url('../../assets/images/icons/mob.png');
    position: absolute;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
  }

  .icon_mob:hover::before {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../../assets/images/icons/active_mob.png');
    background-repeat: no-repeat;
  
  }
  
  .icon_sub {
    background: transparent;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .icon_sub:before {
    content: '';
    background-image: url('../../assets/images/icons/substrack.png');
    position: absolute;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
  }
  
  .icon_add {
    background: transparent;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
  }
  
  .icon_add:before {
    content: '';
    background-image: url('../../assets/images/icons/add.png');
    position: absolute;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
  }

  .wrapper-container{
    height: auto;
    width: 100%;
  }
  .desktop-container-wrapper{
    height: 100vh;
    width: 100%;
    justify-content: center;
    border: 1px solid red;
  }
  
  .tab-container-wrapper{
    height: 100vh;
    justify-content: center;
    width: 70%;
    border: 1px solid blue;
  }
  .mobile-container-wrapper{
    height: 100vh;
    justify-content: center;
    width: 45%;
    border: 1px solid green;
  }
  
  .activescreen {
    color: #0069E7;
    /* color: white; */
  }
  
  .form-page-container.ant-tabs .ant-tabs-nav .ant-tabs-nav-list,
  .form-page-container .ant-tabs .ant-tabs-nav .ant-tabs-nav-list {
    padding: 0 20px;
    display: flex;
  }
  .form-page-header {
    font-weight: normal;
    font-size: 17px;
    line-height: 100%;
    color: #333333;
    background: #ffffff;
    border-radius: 0px 6px 0px 0px;
  }
  
  .icon_page_form {
    display: block;
    background: transparent;
    width: 25px;
    height: 25px;
  }
  .icon_page_form:before {
    content: '';
    background-image: url('../../assets/images/icons/form_page.png');
    position: absolute;
    width: 25px;
    height: 25px;
  }
  .form_page {
    height: 56px;
    display: flex;
    padding: 12px 20px;
    align-items: center;
    justify-content: center;
  }
  
  .form-page-container .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar,
  .form-page-container .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
    bottom: 0 !important;
    width: fit-content;
    /* display: none; */
  }
  .form-page-container .ant-tabs-ink-bar {
    position: absolute;
    background: #723dfb !important;
    pointer-events: none;
  }
  
/* **************** element_setting ************** */
.element_setting .heading_btn .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #0069E7;
}

.element_setting .heading_btn .cancal {
    background: #FFFFFF;
    color: #0069E7;
    border: 0.5px solid #0069E7;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 10px;
    margin: 0 5px;

}

.element_setting .heading_btn .apply {
    background: #0069E7;
    padding: 0px 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 10px;
}

.element_setting .heading_btn .btn_div {
    display: flex;
    justify-content: space-between;

}

.element_type .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
}

.element_type .sub_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #777777;

}

.element_type .select_title {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;

}

.element_type .input_title {
    border: none;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px 0px;

}

.element_type .mandatory {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;

}

.element_setting .permissions .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #2F91E3;
    margin-bottom: 20px;
}

.element_setting .permissions .active_status_title,
.element_setting .permissions .validation .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}


.element_setting .permissions .edit_access .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

/* ***************  all_coments_tab ************** */
.editor_coments .header_comment_btn {
  padding: 10px 0;
}

.all_coments_tab .ant-tabs-ink-bar {
  position: absolute;
  background: transparent;
  pointer-events: none;
}
.all_coments_tab .header_comment_btn {
    display: flex;
    justify-content: space-between;
}

.all_coments_tab .header_comment_btn .add_comment,
.editor_coments .header_comment_btn .add_comment {
    font-family: 'Nunito';
    font-style: normal;
    border: 0.5px solid #0069E7;
    border-radius: 4px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0069E7;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

/* ************* All coments Tab ************** */
.all_coments_tab .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    /* flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px; */
}
.all_coments_tab .ant-tabs-tab-btn {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px; 
    color: #8C8C8C; 
    /* flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px; */
} 
.all_coments_tab .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
    position: absolute;
    right: 0;
    left: 0;
    border-bottom:none;
    content: '';
}